
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}

   @edit_ctrl_cols = @edit_ctrl_cols || 80

   @text_ctrl_rows = @text_ctrl_rows || 8
   @text_ctrl_cols = @text_ctrl_cols || (@edit_ctrl_cols - 1)
%>

<!-- BEGIN-UID.user_vis_ctrls -->

<!-- END-UID.user_vis_ctrls -->

<%= error_messages_for 'entity' %>

<!--[form:entity]-->
<table class="aform_table">

<% @ft_view_section[:name] = capture { %>
<% if @show_item[:name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="entity_name">Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'entity', 'name', :size => [250,@edit_ctrl_cols].min, :maxlength => "250", :id => "focus" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:display_name] = capture { %>
<% if @show_item[:display_name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="entity_display_name">Display Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'entity', 'display_name', :size => [250,@edit_ctrl_cols].min, :maxlength => "250" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:uuid] = capture { %>
<% if @show_item[:uuid] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="entity_uuid">Uuid&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'entity', 'uuid', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:creation_class] = capture { %>
<% if @show_item[:creation_class] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="entity_creation_class">Creation Class&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'entity', 'creation_class', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<%     @ft_view_section_order = []
       @ft_view_section_order << :name
       @ft_view_section_order << :display_name
       @ft_view_section_order << :uuid
       @ft_view_section_order << :creation_class
%>

<!-- BEGIN-UID.user_section_ordering -->

<!-- END-UID.user_section_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


<!-- BEGIN-UID.user_fields -->

<!-- END-UID.user_fields -->

</table>


<!--[eoform:entity]-->
