
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>

<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<% @ft_view_section[:ft_prop_title] = capture { %>
<% if @show_item[:ft_prop_title] then %>
<div class="show_iname">
   <%= @entity.iname %>
</div>
<% end %>
<% } %>



<% @ft_view_section[:name] = capture { %>
<% if @show_item[:name] then %>

  <!-- Name -->

  <div class="show_attr_group attr_group_entity_name ">      <!-- div10 -->
    <div class="show_attr_label"> Name </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@entity.name.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:display_name] = capture { %>
<% if @show_item[:display_name] then %>

  <!-- Display Name -->

  <div class="show_attr_group attr_group_entity_display_name ">      <!-- div10 -->
    <div class="show_attr_label"> Display Name </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@entity.display_name.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:uuid] = capture { %>
<% if @show_item[:uuid] then %>

  <!-- Uuid -->

  <div class="show_attr_group attr_group_entity_uuid ">      <!-- div10 -->
    <div class="show_attr_label"> Uuid </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@entity.uuid.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:creation_class] = capture { %>
<% if @show_item[:creation_class] then %>

  <!-- Creation Class -->

  <div class="show_attr_group attr_group_entity_creation_class ">      <!-- div10 -->
    <div class="show_attr_label"> Creation Class </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@entity.creation_class.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>


<% @ft_view_section_order = []
   @ft_view_section_order << :ft_prop_title
   @ft_view_section_order << :name
   @ft_view_section_order << :display_name
   @ft_view_section_order << :uuid
   @ft_view_section_order << :creation_class
%>

<!-- BEGIN-UID.user_ordering -->

<% @ft_view_section[:creation_class] = capture { %>
<% if @show_item[:creation_class] then %>

  <!-- Creation Class -->

  <% cre_class = Classification.find_by_name(@entity.creation_class.to_s) %>

  <div class="show_attr_group attr_group_entity_creation_class ">      <!-- div10 -->
    <div class="show_attr_label"> Creation Class </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= cre_class ? link_to(@entity.creation_class.to_s, url_show(cre_class)) : @entity.creation_class.to_s %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>


<% @ft_view_section[:classifications] = capture { %>

  <!-- Classifications -->

  <div class="show_attr_group attr_group_entity_uuid ">      <!-- div10 -->
    <div class="show_attr_label"> Classifications </div>                    <!-- div11 -->
    <div class="show_attr_value single_line">
    <% for cl in @entity.classifications do %>
      <p><%= link_to cl.iname, url_show(cl) %></p>
    <% end %>
    </div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% } %>

<% @ft_view_section[:dyn_attrs] = capture { %>
  <% for attr in @entity.attrs do %>

  <!-- <%= attr.name %>  -->

  <div class="show_attr_group attr_group_entity_uuid ">      <!-- div10 -->
    <div class="show_attr_label"> <%= attr.name %> </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= attr.value %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

  <% end %>
<% } %>


<% @ft_view_section_order = []
   @ft_view_section_order << :ft_prop_title
   @ft_view_section_order << :display_name
   @ft_view_section_order << :creation_class
   @ft_view_section_order << :uuid
   @ft_view_section_order << :dyn_attrs
   @ft_view_section_order << :classifications
%>

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

