
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   view_params = { :form_name => 'entities/form' }
   @ft_view_section = {}
%>
<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table width="100%" border="0" cellspacing="0" style="margin-top:-5px;margin-bottom:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Normal View', :controller => 'entities', :action => 'show', :id => @entity %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'list')%>"> <%="Table of Entity".pluralize%> </option>
    <option value="<%=url_for(:controller => 'entities', :action => 'block_list')%>"> <%="List of Entity".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'new')%>"> Add new Entity </option>

    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname)%>"> .. Add new Entity Assn </option>
    <option value="<%=url_for(:controller => 'entity_attrs', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname)%>"> .. Add new Entity Attr </option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@entity)%>
</td>
</tr>
</table>
</div>

<% end %>

<!-- BEGIN-UID.user_mods -->

<!-- END-UID.user_mods -->

<fieldset>
<LEGEND>Properties</LEGEND>

<%= form_tag(:controller => 'entities', :action => 'update', :id => @entity) %>
  <p class="submit_top">&nbsp;<%= submit_tag 'Save Changes' %> </p>
  <%= render :partial => view_params[:form_name] %>
  <p class="submit_bottom">&nbsp;<%= submit_tag 'Save Changes' %> </p>
</form> <!-- end form_tag -->

</fieldset>

<p class="spacer">&nbsp;</p>

<div class="edit_view edit_view_entity">              <!-- div1 -->

<!-- BEGIN-UID.user_related_items -->

<!-- END-UID.user_related_items -->

<% @ft_view_section = {} %>

<% @ft_view_section[:associations] = capture { %>
<% if @show_item[:associations] then %>

  <!-- Associations -->

  <a name="associations"></a>

  <div id="show_rel_associations" class="show_rel show_rel_associations">                                                 <!-- div28 -->
    <div class="detail_quick_add detail_quick_add_entity_assn" id="quick_add_entity_associations" style="float:right;">
        <%= show_hide "Quick-add EntityAssns by name", 'quick_add_associations' %>
        <div id="quick_add_associations" style="display:none; margin-bottom:4px; padding:8px;">
            enter one name per line
            <%=form_tag :controller => 'entities', :action => 'quick_add_associations', :id => @entity.id %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add EntityAssns'%>
            </form>
        </div>
    </div>

    <div id="show_rel_associations_label" class="rel_label"> Associations &nbsp; <%= show_hide('show/hide','show_rel_associations_value')%> </div>        <!-- div29 -->

    <div id="show_rel_associations_value" class="rel_value">                                                                           <!-- div30 -->
        <ul style="margin-left:20px;">
        <% for entity_assn in (@associations || []) %>
        <li>

        <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Delete'}), { :controller => 'entity_assns', :action => 'destroy', :id => entity_assn.id }, :confirm => 'Are you sure?' %>
        &nbsp; <%= link_to image_tag("pencil.jpg",{:border=>"0", :title => 'Edit'}), {:controller => entity_assn.ctrlr_name, :action => 'edit', :id => entity_assn.id, :entity_id => @entity.id} %> 
        &nbsp &nbsp;
        <% text = entity_assn.name.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to entity_assn.iname, url_show(entity_assn), :class => "identity_link" %> 
        </li>
        <% end %>
        </ul> 
        <p class="add_new_link">
        <%= link_to 'Add New Entity Assn', :controller => 'entity_assns', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname %> 
        </p>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>

<% @ft_view_section[:attrs] = capture { %>
<% if @show_item[:attrs] then %>

  <!-- Attributes -->

  <a name="attrs"></a>

  <div id="show_rel_attrs" class="show_rel show_rel_attrs">                                                 <!-- div28 -->
    <div class="detail_quick_add detail_quick_add_entity_attr" id="quick_add_entity_attrs" style="float:right;">
        <%= show_hide "Quick-add EntityAttrs by name", 'quick_add_attrs' %>
        <div id="quick_add_attrs" style="display:none; margin-bottom:4px; padding:8px;">
            enter one name per line
            <%=form_tag :controller => 'entities', :action => 'quick_add_attrs', :id => @entity.id %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add EntityAttrs'%>
            </form>
        </div>
    </div>

    <div id="show_rel_attrs_label" class="rel_label"> Attributes &nbsp; <%= show_hide('show/hide','show_rel_attrs_value')%> </div>        <!-- div29 -->

    <div id="show_rel_attrs_value" class="rel_value">                                                                           <!-- div30 -->
        <ul style="margin-left:20px;">
        <% for entity_attr in (@attrs || []) %>
        <li>

        <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Delete'}), { :controller => 'entity_attrs', :action => 'destroy', :id => entity_attr.id }, :confirm => 'Are you sure?' %>
        &nbsp; <%= link_to image_tag("pencil.jpg",{:border=>"0", :title => 'Edit'}), {:controller => entity_attr.ctrlr_name, :action => 'edit', :id => entity_attr.id, :entity_id => @entity.id} %> 
        &nbsp &nbsp;
        <% text = entity_attr.name.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to entity_attr.iname, url_show(entity_attr), :class => "identity_link" %> 
        </li>
        <% end %>
        </ul> 
        <p class="add_new_link">
        <%= link_to 'Add New Entity Attr', :controller => 'entity_attrs', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname %> 
        </p>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>

<% @ft_view_section[:member_associations] = capture { %>
<% if @show_item[:member_associations] then %>

  <!-- Member Associations -->

  <a name="member_associations"></a>

  <div id="show_rel_member_associations" class="show_rel show_rel_member_associations">                                                <!-- div33 -->
    <div id="show_rel_member_associations_label" class="rel_label"> Member Associations &nbsp; <%= show_hide('show/hide','show_rel_member_associations_value')%></div>            <!-- div34 -->

    <div id="show_rel_member_associations_value" class="rel_value">                                           <!-- div35 -->


         <ul style="margin-left:20px;">

<% if @member_associations != nil %>
<% for entity_assn in (@member_associations.kind_of? Array) ? @member_associations : [ @member_associations ] %>
         <li>
        <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'entities', :action => 'remove_from_member_associations', :id => @entity.id, :entity_assn_id => entity_assn.id} %>
        <% text = entity_assn.name.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to entity_assn.iname, url_show(entity_assn), :class => 'identity_link' %> 
        </li>
<% end %>
<% end %>
         </ul> 
        <p style="float:left; margin-left:10px;">&nbsp;</p>
<%= link_to 'Add Entity Assn', :controller => 'entities', :action => 'add_to_member_associations', :id => @entity.id, :obj_context => @entity.iname %> 

    </div>           <!-- end div35 -->
  </div>               <!-- end div33 -->
<% end %>
<% } %>

<% @ft_view_section[:classifications] = capture { %>
<% if @show_item[:classifications] then %>

  <!-- Classifications -->

  <a name="classifications"></a>

  <div id="show_rel_classifications" class="show_rel show_rel_classifications">                                                <!-- div33 -->
    <div class="detail_quick_add" style="float:right;">
        <%= show_hide "Quick-add Classifications by name", 'quick_add_classifications' %>
        <div id="quick_add_classifications" style="display:none; margin-bottom:4px; padding:8px;">
            enter one name per line
            <%=form_tag :controller => 'entities', :action => 'quick_add_classifications', :id => @entity.id %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add Classifications'%>
            </form>
        </div>
    </div>

    <div id="show_rel_classifications_label" class="rel_label"> Classifications &nbsp; <%= show_hide('show/hide','show_rel_classifications_value')%></div>            <!-- div34 -->

    <div id="show_rel_classifications_value" class="rel_value">                                           <!-- div35 -->


         <ul style="margin-left:20px;">

<% if @classifications != nil %>
<% for classification in (@classifications.kind_of? Array) ? @classifications : [ @classifications ] %>
         <li>
        <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'entities', :action => 'remove_from_classifications', :id => @entity.id, :classification_id => classification.id} %>
        <% text = classification.name.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to classification.iname, url_show(classification), :class => 'identity_link' %> 
        </li>
<% end %>
<% end %>
         </ul> 
        <p style="float:left; margin-left:10px;">&nbsp;</p>
<%= link_to 'Add Classification', :controller => 'entities', :action => 'add_to_classifications', :id => @entity.id, :obj_context => @entity.iname %> 

    </div>           <!-- end div35 -->
  </div>               <!-- end div33 -->
<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :associations
   @ft_view_section_order << :attrs
   @ft_view_section_order << :member_associations
   @ft_view_section_order << :classifications
%>

<!-- BEGIN-UID.user_ordering -->

<% @ft_view_section_order = []
   @ft_view_section_order << :classifications
   @ft_view_section_order << :attrs
   @ft_view_section_order << :associations
%>

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


</div>                           <!-- end div1 -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table width="100%" border="0" cellspacing="0" style="margin-bottom:-5px;margin-top:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Normal View', :controller => 'entities', :action => 'show', :id => @entity %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'list')%>"> <%="Table of Entity".pluralize%> </option>
    <option value="<%=url_for(:controller => 'entities', :action => 'block_list')%>"> <%="List of Entity".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'new')%>"> Add new Entity </option>

    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname)%>"> .. Add new Entity Assn </option>
    <option value="<%=url_for(:controller => 'entity_attrs', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname)%>"> .. Add new Entity Attr </option>



    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@entity)%>
</td>
</tr>
</table>
</div>

<% end %>
