<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table width="100%" border="0" cellspacing="0" style="margin-top:-5px;margin-bottom:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'entities', :action => 'edit', :id => @entity %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'show', :id => @entity.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'entities', :action => 'show_as_doc', :id => @entity.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'list')%>"> <%="Table of Entity".pluralize%> </option>
    <option value="<%=url_for(:controller => 'entities', :action => 'block_list')%>"> <%="List of Entity".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'new')%>"> Add new Entity </option>

    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname)%>"> .. Add new Entity Assn </option>
    <option value="<%=url_for(:controller => 'entity_attrs', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname)%>"> .. Add new Entity Attr </option>

<!-- BEGIN-UID.user_actions -->

    <option value="#">----------------</option>
    <% if @entity.creation_class.to_s == 'Group' %>
      <option value="<%=url_for(:controller => 'standard_reports', :action => 'show_se_group_on_demand', :uuid => @entity.uuid, :format => 'pdf')%>">Show On-Demand Report (SE Group)</option>
    <% else %>
      <option value="<%=url_for(:controller => 'standard_reports', :action => 'show_se_on_demand', :uuid => @entity.uuid, :format => 'pdf')%>">Show On-Demand Report (SE)</option>
    <% end %>

<!-- END-UID.user_actions -->

    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@entity)%>
</td>
</tr>
</table>
</div>

<% end %>

<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   show_props_subview = 'show_properties'
   show_rel_subview   = 'show_related'
%>

<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<div class="show_view show_view_entity">   <!-- show_view -->

    <p class="prev_next_links">
    <%=link_to "previous", url_show(@entity.prev_item), :title => "Previous Entity", :style => "font-size:8pt;"%> 
    | <%=link_to "next", url_show(@entity.next_item), :title => "Next Entity", :style => "font-size:8pt;"%>
    </p>

  <% if @show_item[:ft_show_props] %>
    <div id="show_entity_props" class="show_props show_props_entity">   <!-- show_props -->

<!-- BEGIN-UID.user_properties -->

<!-- END-UID.user_properties -->

       <%= render :partial => show_props_subview %>

    </div>         <!-- show_props -->

  <% end %>

    <p class="spacer">&nbsp;</p>

  <% if @show_item[:ft_show_rels] %>
    <div id="show_entity_rels" class="show_related">

<!-- BEGIN-UID.user_related_items -->

<!-- END-UID.user_related_items -->

       <%= render :partial => show_rel_subview %>

    </div>  <!-- show_related -->

  <% end %>

</div>  <!-- show_view -->

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table width="100%" border="0" cellspacing="0" style="margin-bottom:-5px;margin-top:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'entities', :action => 'edit', :id => @entity %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'show', :id => @entity.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'entities', :action => 'show_as_doc', :id => @entity.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'list')%>"> <%="Table of Entity".pluralize%> </option>
    <option value="<%=url_for(:controller => 'entities', :action => 'block_list')%>"> <%="List of Entity".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entities', :action => 'new')%>"> Add new Entity </option>

    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname)%>"> .. Add new Entity Assn </option>
    <option value="<%=url_for(:controller => 'entity_attrs', :action => 'new', :entity_id => @entity.id, :obj_context => @entity.iname)%>"> .. Add new Entity Attr </option>


    <option value="#">----------------</option>
    <% if @entity.creation_class.to_s == 'Group' %>
      <option value="<%=url_for(:controller => 'standard_reports', :action => 'show_se_group_on_demand', :uuid => @entity.uuid, :format => 'pdf')%>">Show On-Demand Report (SE Group)</option>
    <% else %>
      <option value="<%=url_for(:controller => 'standard_reports', :action => 'show_se_on_demand', :uuid => @entity.uuid, :format => 'pdf')%>">Show On-Demand Report (SE)</option>
    <% end %>


    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@entity)%>
</td>
</tr>
</table>
</div>

<% end %>
