     <p class="search_form">
         <%= form_tag( :controller => 'full_text_search', :action => 'search' ) %>
         <%= submit_tag "Search" %> <%= text_field_tag 'search_text', "", :size => 20 %>

      &nbsp;&nbsp;<select onchange="javascript: location = this[this.selectedIndex].value;">
      <option value="#">Select an action...</option>
      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'audit_log_entries', :action => 'new')%>"> Add new Audit Log Entry </option>
      <option value="<%=url_for(:controller => 'user_reports', :action => 'new')%>"> Add new User Report </option>
      <option value="<%=url_for(:controller => 'standard_reports', :action => 'new')%>"> Add new Standard Report </option>
      <option value="<%=url_for(:controller => 'on_demand_reports', :action => 'new')%>"> Add new On Demand Report </option>
      <option value="<%=url_for(:controller => 'report_subscriptions', :action => 'new')%>"> Add new Report Subscription </option>
      <option value="<%=url_for(:controller => 'version_infos', :action => 'new')%>"> Add new Version Info </option>
      <option value="<%=url_for(:controller => 'vc_licenses', :action => 'new')%>"> Add new Vc License </option>
      <option value="<%=url_for(:controller => 'notifications', :action => 'new')%>"> Add new Notification </option>
      <option value="<%=url_for(:controller => 'classifications', :action => 'new')%>"> Add new Classification </option>
      <option value="<%=url_for(:controller => 'entities', :action => 'new')%>"> Add new Entity </option>


<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

      <option value="#">----------------</option>
      <option value="<%=url_for(:controller => 'fast_ops', :action => 'docs')%>"> Manage Attachments </option>
    </select>

         </form> <!-- end form_tag -->

     </p>

<% main_sections = [] %>

    <% main_sections << "section_pm_stats_by_hour" %>
    <% content_for("section_pm_stats_by_hour") { %>

          <!-- Pm Stats By Hour -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "PmStatsByHour",
                       :title => "Pm Stats By Hour".pluralize,
                       :title_link => url_for(:controller => 'pm_stats_by_hours', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_pm_stats_by_day" %>
    <% content_for("section_pm_stats_by_day") { %>

          <!-- Pm Stats By Day -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "PmStatsByDay",
                       :title => "Pm Stats By Day".pluralize,
                       :title_link => url_for(:controller => 'pm_stats_by_days', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_vm_stats_by_hour" %>
    <% content_for("section_vm_stats_by_hour") { %>

          <!-- Vm Stats By Hour -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "VmStatsByHour",
                       :title => "Vm Stats By Hour".pluralize,
                       :title_link => url_for(:controller => 'vm_stats_by_hours', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_vm_stats_by_day" %>
    <% content_for("section_vm_stats_by_day") { %>

          <!-- Vm Stats By Day -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "VmStatsByDay",
                       :title => "Vm Stats By Day".pluralize,
                       :title_link => url_for(:controller => 'vm_stats_by_days', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_ds_stats_by_hour" %>
    <% content_for("section_ds_stats_by_hour") { %>

          <!-- Ds Stats By Hour -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "DsStatsByHour",
                       :title => "Ds Stats By Hour".pluralize,
                       :title_link => url_for(:controller => 'ds_stats_by_hours', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_ds_stats_by_day" %>
    <% content_for("section_ds_stats_by_day") { %>

          <!-- Ds Stats By Day -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "DsStatsByDay",
                       :title => "Ds Stats By Day".pluralize,
                       :title_link => url_for(:controller => 'ds_stats_by_days', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_audit_log_entry" %>
    <% content_for("section_audit_log_entry") { %>

          <!-- Audit Log Entry -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "AuditLogEntry",
                       :title => "Audit Log Entry".pluralize,
                       :title_link => url_for(:controller => 'audit_log_entries', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_user_report" %>
    <% content_for("section_user_report") { %>

          <!-- User Report -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "UserReport",
                       :title => "User Report".pluralize,
                       :title_link => url_for(:controller => 'user_reports', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_standard_report" %>
    <% content_for("section_standard_report") { %>

          <!-- Standard Report -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "StandardReport",
                       :title => "Standard Report".pluralize,
                       :title_link => url_for(:controller => 'standard_reports', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_on_demand_report" %>
    <% content_for("section_on_demand_report") { %>

          <!-- On Demand Report -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "OnDemandReport",
                       :title => "On Demand Report".pluralize,
                       :title_link => url_for(:controller => 'on_demand_reports', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_report_subscription" %>
    <% content_for("section_report_subscription") { %>

          <!-- Report Subscription -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "ReportSubscription",
                       :title => "Report Subscription".pluralize,
                       :title_link => url_for(:controller => 'report_subscriptions', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_version_info" %>
    <% content_for("section_version_info") { %>

          <!-- Version Info -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "VersionInfo",
                       :title => "Version Info".pluralize,
                       :title_link => url_for(:controller => 'version_infos', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_vc_license" %>
    <% content_for("section_vc_license") { %>

          <!-- Vc License -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "VcLicense",
                       :title => "Vc License".pluralize,
                       :title_link => url_for(:controller => 'vc_licenses', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_notification" %>
    <% content_for("section_notification") { %>

          <!-- Notification -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "Notification",
                       :title => "Notification".pluralize,
                       :title_link => url_for(:controller => 'notifications', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_classification" %>
    <% content_for("section_classification") { %>

          <!-- Classification -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "Classification",
                       :title => "Classification".pluralize,
                       :title_link => url_for(:controller => 'classifications', :action => 'list') } ) %>
          </div>


    <% } %>

    <% main_sections << "section_entity" %>
    <% content_for("section_entity") { %>

          <!-- Entity -->

          <div style="margin-left:10px;">
              <%= instance_count_for( {
                       :obj_class => "Entity",
                       :title => "Entity".pluralize,
                       :title_link => url_for(:controller => 'entities', :action => 'list') } ) %>
          </div>


    <% } %>

<% assn_sections = [] %>

<% codetable_sections = [] %>

<% hidden_sections = [] %>


<!-- BEGIN-UID.user_grouping -->

<!-- END-UID.user_grouping -->

<%
   if ! @content_for_top_level_objs
     content_for("top_level_objs") {
%>
        <div>
         <div class="index_section"><span class="open_close" onClick="Element.toggle('main_contents')"> <b>Main</b></span>
          <div id="main_contents" style='display:block'>

<% for section in main_sections.sort do %>
               <%= yield section %>
<% end %>

            <br />
          </div>
         </div>
        </div>
<%
     }
   end
%>

    <h3 class="index_contents_heading">Contents</h3>

    <%= yield :top_level_objs %>

    <%= yield :section_associations %>

    <%= yield :section_refdata %>

    <%= yield :section_hidden %>

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

