
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>

<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<% @ft_view_section[:ft_prop_title] = capture { %>
<% if @show_item[:ft_prop_title] then %>
<div class="show_iname">
   <%= @vc_license.iname %>
</div>
<% end %>
<% } %>



<% @ft_view_section[:target] = capture { %>
<% if @show_item[:target] then %>

  <!-- Target -->

  <div class="show_attr_group attr_group_vc_license_target ">      <!-- div10 -->
    <div class="show_attr_label"> Target </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@vc_license.target.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:product] = capture { %>
<% if @show_item[:product] then %>

  <!-- Product -->

  <div class="show_attr_group attr_group_vc_license_product ">      <!-- div10 -->
    <div class="show_attr_label"> Product </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@vc_license.product.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:capacity] = capture { %>
<% if @show_item[:capacity] then %>

  <!-- Capacity -->

  <div class="show_attr_group attr_group_vc_license_capacity ">      <!-- div10 -->
    <div class="show_attr_label"> Capacity </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@vc_license.capacity.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:used] = capture { %>
<% if @show_item[:used] then %>

  <!-- Used -->

  <div class="show_attr_group attr_group_vc_license_used ">      <!-- div10 -->
    <div class="show_attr_label"> Used </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@vc_license.used.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>


<% @ft_view_section_order = []
   @ft_view_section_order << :ft_prop_title
   @ft_view_section_order << :target
   @ft_view_section_order << :product
   @ft_view_section_order << :capacity
   @ft_view_section_order << :used
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

