
<!-- start toplinks -->

<table style="margin-bottom:15px;" border="0" width="100%">
<tr>
<td width="60%" valign="top">

<p>
 <%= js_button_to "Tabular View", params.merge(:controller => 'vc_licenses', :action => 'list') %>
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'vc_licenses', :action => 'new')%>"> Add new Vc License </option>
    <% unless session['user'] && !session['user'].is_admin? %>
        <option value="#">----------------</option>
        <option value="<%=url_for(params.merge(:controller => 'vc_licenses', :action => 'download_csv'))%>"> Download CSV </option>
        <option value="<%=url_for(:controller => 'vc_licenses', :action => 'csv_upload')%>"> Upload CSV </option>
    <% end %>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</p>

</td>

<td width="40%" valign="top">
</td>
</tr>
</table>

<!-- end toplinks -->

<% listtext_op = session['list_text_toggles'] ? "show text" : "hide text" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images" : "hide images" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>

<% @vc_licenses.each { |obj| %>

    <div class="obj_block">
    <hr/>
<div class="block_line_item">
    <div class="block_label">Target:</div>
    <% text = obj.target.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= link_to text, url_show(obj) %>
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Product:</div>
    <% text = obj.product.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Capacity:</div>
    <% text = obj.capacity.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Used:</div>
    <% text = obj.used.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
    </div>

<% } %>

<p class="spacer">&nbsp;</p>

<p>
 <%= js_button_to "Tabular View", params.merge(:controller => 'vc_licenses', :action => 'list') %>
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'vc_licenses', :action => 'new')%>"> Add new Vc License </option>
    <% unless session['user'] && !session['user'].is_admin? %>
        <option value="#">----------------</option>
        <option value="<%=url_for(params.merge(:controller => 'vc_licenses', :action => 'download_csv'))%>"> Download CSV </option>
        <option value="<%=url_for(:controller => 'vc_licenses', :action => 'csv_upload')%>"> Upload CSV </option>
    <% end %>
    </select>
</p>

