<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table width="100%" border="0" cellspacing="0" style="margin-top:-5px;margin-bottom:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'vm_stats_by_days', :action => 'edit', :id => @vm_stats_by_day %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'show', :id => @vm_stats_by_day.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'show_as_doc', :id => @vm_stats_by_day.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'list')%>"> <%="Table of Vm Stats By Day".pluralize%> </option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'block_list')%>"> <%="List of Vm Stats By Day".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'new')%>"> Add new Vm Stats By Day </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@vm_stats_by_day)%>
</td>
</tr>
</table>
</div>

<% end %>

<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>


<div class="show_as_doc_view show_as_doc_view_vm_stats_by_day">    <!-- show_as_doc_view -->

    <div class="show_doc_props show_doc_props_vm_stats_by_day">   <!-- show_doc_props -->

      <p class="doc_prev_next_links">
      <%=link_to "previous", url_show_as_doc(@vm_stats_by_day.prev_item), :title => "Previous Vm Stats By Day", :style => "font-size:8pt;"%> 
      | <%=link_to "next", url_show_as_doc(@vm_stats_by_day.next_item), :title => "Next Vm Stats By Day", :style => "font-size:8pt;"%>
      </p>

<!-- BEGIN-UID.user_properties -->

<!-- END-UID.user_properties -->



<% @ft_view_section[:snapshot_time] = capture { %>
<% if @show_item[:snapshot_time] then %>

  <!-- Snapshot Time -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_snapshot_time title">     <!-- div10-b -->
    <div class="doc_attr_label"> Snapshot Time </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.snapshot_time.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
  <p class="spacer">&nbsp;</p>

<% end %>
<% } %>



<% @ft_view_section[:uuid] = capture { %>
<% if @show_item[:uuid] then %>

  <!-- Uuid -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_uuid ">     <!-- div10-b -->
    <div class="doc_attr_label"> Uuid </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.uuid.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:producer_uuid] = capture { %>
<% if @show_item[:producer_uuid] then %>

  <!-- Producer Uuid -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_producer_uuid ">     <!-- div10-b -->
    <div class="doc_attr_label"> Producer Uuid </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.producer_uuid.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:property_type] = capture { %>
<% if @show_item[:property_type] then %>

  <!-- Property Type -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_property_type ">     <!-- div10-b -->
    <div class="doc_attr_label"> Property Type </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.property_type.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:property_subtype] = capture { %>
<% if @show_item[:property_subtype] then %>

  <!-- Property Subtype -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_property_subtype ">     <!-- div10-b -->
    <div class="doc_attr_label"> Property Subtype </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.property_subtype.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:capacity] = capture { %>
<% if @show_item[:capacity] then %>

  <!-- Capacity -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_capacity ">     <!-- div10-b -->
    <div class="doc_attr_label"> Capacity </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.capacity.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:avg_value] = capture { %>
<% if @show_item[:avg_value] then %>

  <!-- Avg Value -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_avg_value ">     <!-- div10-b -->
    <div class="doc_attr_label"> Avg Value </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.avg_value.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:min_value] = capture { %>
<% if @show_item[:min_value] then %>

  <!-- Min Value -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_min_value ">     <!-- div10-b -->
    <div class="doc_attr_label"> Min Value </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.min_value.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:max_value] = capture { %>
<% if @show_item[:max_value] then %>

  <!-- Max Value -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_max_value ">     <!-- div10-b -->
    <div class="doc_attr_label"> Max Value </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.max_value.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:std_dev] = capture { %>
<% if @show_item[:std_dev] then %>

  <!-- Std Dev -->

  <div class="doc_attr_group attr_group_vm_stats_by_day_std_dev ">     <!-- div10-b -->
    <div class="doc_attr_label"> Std Dev </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@vm_stats_by_day.std_dev.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :snapshot_time
   @ft_view_section_order << :uuid
   @ft_view_section_order << :producer_uuid
   @ft_view_section_order << :property_type
   @ft_view_section_order << :property_subtype
   @ft_view_section_order << :capacity
   @ft_view_section_order << :avg_value
   @ft_view_section_order << :min_value
   @ft_view_section_order << :max_value
   @ft_view_section_order << :std_dev
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

    </div>   <!-- show_doc_props -->

    <p class="spacer">&nbsp;</p>


<% @ft_view_section = {} %>

<% @ft_view_section_order = []
%>

<!-- BEGIN-UID.user_text_ordering -->

<!-- END-UID.user_text_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

<div class="show_as_doc_related">

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

<div class="show_hide_subtable_text">
<% listtext_op = session['list_text_toggles'] ? "show text in tables" : "hide text in tables" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images in tables" : "hide images in tables" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>
</div>


<% @ft_view_section = {} %>

<%     @ft_view_section_order = []
%>
<!-- BEGIN-UID.user_rel_ordering -->

<!-- END-UID.user_rel_ordering -->

<% for s in @ft_view_section_order do %>
   <%= @ft_view_section[s].to_s %>
<% end %>

</div> <!-- show_as_doc_related -->


</div>  <!-- show_as_doc_view -->

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table width="100%" border="0" cellspacing="0" style="margin-bottom:-5px;margin-top:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'vm_stats_by_days', :action => 'edit', :id => @vm_stats_by_day %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'show', :id => @vm_stats_by_day.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'show_as_doc', :id => @vm_stats_by_day.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'list')%>"> <%="Table of Vm Stats By Day".pluralize%> </option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'block_list')%>"> <%="List of Vm Stats By Day".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'vm_stats_by_days', :action => 'new')%>"> Add new Vm Stats By Day </option>

    <option value="#">----------------</option>



    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@vm_stats_by_day)%>
</td>
</tr>
</table>
</div>

<% end %>
