
<h3>Manage Attachments</h3>

<blockquote>

<%= form_tag( { :action => 'upload_doc' }, { :enctype => 'multipart/form-data' } ) %>
  <b>Local file path</b> <br /> 
  <input type="file" name="doc_file" size="70"/>

  <br/> <br/>
  <b>File name on server</b> <br/> 
  <input id="fname" type="text" name="filename" value="<%=@upload_name||''%>" size="30"/>
  <br/> <br/>
  <input type="submit" name="save" value="Upload"/>
</form> <!-- end form_tag -->

<p class="spacer">&nbsp;</p>
<p>Attachment download links can be included in-line within text fields using the notation <code>{doc:plan.xls}</code>; 
including the curly braces { }.  After incuding such a reference, you will be prompted to upload the file by following a red
link for the given file, unless the named file is already on the server.</p> 

<hr />

<% if @files.size > 0 then %>
  <iframe name="image_frame" style="float:right; border:solid 2px gray;" width="400" height="300">No iframe Support</iframe>
<% end %>

<h3>Existing attachments</h3>

  <ul style="list-style:none;">
    <% @files.each { |ifile| %>
       <li> 
         <%=link_to("<b>X</b>",{:action => 'delete_doc', :delete => ifile.to_s}, { :title => "Delete", :style => "color:maroon;" })%>
         <%=ifile.to_s%>&nbsp;
         <%= link_to("View", image_path(ifile.to_s).gsub("images","user_docs"), { :target => "image_frame" } ) %>
       </li>
    <% } %>
  </ul>

</blockquote>

