
<%
  @main_class_ext = 'rept_viewer'
  @ft_activity = nil

  @user_reports.sort!{|a,b| a.title.to_s <=> b.title.to_s}
  cats = @user_reports.collect{|r| ! r.category.to_s.empty? ? r.category.titleize : "General"}.compact.sort.uniq.reverse
%>


<table class="std_reports" cellspacing="4">
  <tr>

    <td class="rept_list">

      <% div_for_topic "Custom Reports" do %>
        <div style="font-family: arial; color:navy; margin:-22px 0 0 210px; font-size:x-small;">Click Heading to Expand/Contract</div>

        <% if StandardReport.host_feature_enabled? then %>


          <div style="margin: 10px 0 20px 10px; height:720px; overflow:auto;">

            <% for cat in cats do %>

              <div style="text-align:center; border:solid 1px gray; margin:3px 0; width:98%; height:18px; cursor:pointer;
                   background: url(../images/vslice_vmt_pod_banner.jpg); font-weight:bold;"
                   onclick="$('<%= cat.to_s.gsub(" ","") %>').toggle();">
                <%= cat %>
              </div>

              <div id="<%= cat.to_s.gsub(" ","") %>" style="display:block;">

                <table border="0" cellspacing="0" width="96%">

                  <% for @user_report in @user_reports %>
                    <% next unless (! @user_report.category.to_s.empty? ? @user_report.category.titleize : "General") == cat %>
                    <tr>
                      <td style="padding:0 8px 0 0;">
                        <%= image_tag "rept_grid.png" %>
                        <p style="margin:-18px 0 0 6px;"><%= image_tag "user.png", :title => "Custom Report" %></p>
                      </td>

                      <td style="vertical-align:top; padding-top:8px;">
                        <span style="font-size:9pt; font-family: Arial;"
                              title="<%=h @user_report.description.to_s %>">
                              <b><i><%=h @user_report.title.to_s %></i></b>
                          </span>
                      </td>

                      <td style="vertical-align:top; padding:0 4px 8px 4px; white-space: nowrap; width:65px;">
<% unless @user_report.is_obsolete? %>
                        <%=
                          link_to_remote "View", {
                            :url => url_for({:controller => 'user_reports', :action => 'get_resultset', :id => @user_report}),
                            :update => 'resultset',
                            :loading => "$('resultset').update(''); $('progress').show();",
                            :complete => "$('progress').hide();"},
                            :style => "text-decoration:underline; font-family:Arial; font-size:8pt;"
                        %>
                        |
                        <%= link_to_remote "Send", {
                                  :url => url_for(:controller => 'user_reports', :action => 'send_via_email_form',
                                                  :id => @user_report.id, :send_email => 'true'),
                                  :update => 'resultset',
                                  :complete => "$('resultset').show();"
                                  }, :style => "cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                              %>

                        <br />

                        <%= link_to_remote("Subscribe", {
                          :url => url_for(:controller => "report_subscriptions", :action => "edit_subscriptions_form",
                                          :class_name =>@user_report.class.name, :id => @user_report.id,
                                          :return_to => url_for(:controller => 'user_reports', :action => 'list')),
                          :update => 'edit_subscriptions',
                          :complete => "$('edit_subscriptions').show();"
                          }, :style => "cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        ) %>
                        |
                        <%= link_to "Edit", {:controller => 'user_reports', :action => 'vis_edit', :id => @user_report},
                                            :style => "text-decoration:underline; font-family:Arial; font-size:8pt;" %>
<% else %>
  Obsolete data source<br />Call Support or <%= link_to "Delete", {:action => 'destroy_rept', :id => @user_report}, :confirm => "No undo: confirm delete or cancel" %>
<% end %>
                      </td>
                    </tr>
                  <% end %>
                </table>

              </div>

            <% end %>
            
            <div class="user_rept_ops">
              <%= js_button_to "Add New", :action => 'add_new_user_rept' %>
            </div>

          </div>


        <% else %>

        <p>Please install a license that enables reports.</p>

        <% end %>

      
      <% end %>

    </td>


    <td class="viewing_area">

      <div id="pdf_report" style="width:100%; margin:0;">
        <% div_for_topic "Viewer" do %>
          <div id="progress" style="display:none;"><%= image_tag "rotating_work_indicator.gif" %></div>
          <div id="resultset" style="height:730px; overflow:auto; padding:4px;"></div>
        <% end %>
      </div>

    </td>

  </tr>
</table>




<div style="position:absolute; top:100px; left:40%; padding:8px;" class="">

  <div id="edit_subscriptions" style="display:none;"></div>

  <div id="show_progress" style="background:white; padding:20px; font-size:10pt; display:none; border:solid gray 1px;">
    <%=image_tag 'rotating_work_indicator.gif'%> <br /> <br />
    Generating the report. <br />
    Please allow up to 40 secs for the results. <br />
    This notice will now close.
  </div>

</div>

