<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table width="100%" border="0" cellspacing="0" style="margin-top:-5px;margin-bottom:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'user_reports', :action => 'edit', :id => @user_report %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'show', :id => @user_report.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'show_as_doc', :id => @user_report.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'list')%>"> <%="Table of User Report".pluralize%> </option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'block_list')%>"> <%="List of User Report".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'new')%>"> Add new User Report </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@user_report)%>
</td>
</tr>
</table>
</div>

<% end %>

<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>


<div class="show_as_doc_view show_as_doc_view_user_report">    <!-- show_as_doc_view -->

    <div class="show_doc_props show_doc_props_user_report">   <!-- show_doc_props -->

      <p class="doc_prev_next_links">
      <%=link_to "previous", url_show_as_doc(@user_report.prev_item), :title => "Previous User Report", :style => "font-size:8pt;"%> 
      | <%=link_to "next", url_show_as_doc(@user_report.next_item), :title => "Next User Report", :style => "font-size:8pt;"%>
      </p>

<!-- BEGIN-UID.user_properties -->

<!-- END-UID.user_properties -->



<% @ft_view_section[:title] = capture { %>
<% if @show_item[:title] then %>

  <!-- Title -->

  <div class="doc_attr_group attr_group_user_report_title title">     <!-- div10-b -->
    <div class="doc_attr_label"> Title </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@user_report.title.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
  <p class="spacer">&nbsp;</p>

<% end %>
<% } %>



<% @ft_view_section[:category] = capture { %>
<% if @show_item[:category] then %>

  <!-- Category -->

  <div class="doc_attr_group attr_group_user_report_category ">     <!-- div10-b -->
    <div class="doc_attr_label"> Category </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@user_report.category.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:short_desc] = capture { %>
<% if @show_item[:short_desc] then %>

  <!-- Short Desc -->

  <div class="doc_attr_group attr_group_user_report_short_desc ">     <!-- div10-b -->
    <div class="doc_attr_label"> Short Desc </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@user_report.short_desc.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:period] = capture { %>
<% if @show_item[:period] then %>

  <!-- Period -->

  <div class="doc_attr_group attr_group_user_report_period ">     <!-- div10-b -->
    <div class="doc_attr_label"> Period </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@user_report.period.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>



<% @ft_view_section[:day_type] = capture { %>
<% if @show_item[:day_type] then %>

  <!-- Day Type -->

  <div class="doc_attr_group attr_group_user_report_day_type ">     <!-- div10-b -->
    <div class="doc_attr_label"> Day Type </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@user_report.day_type.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :title
   @ft_view_section_order << :category
   @ft_view_section_order << :short_desc
   @ft_view_section_order << :period
   @ft_view_section_order << :day_type
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

    </div>   <!-- show_doc_props -->

    <p class="spacer">&nbsp;</p>


<% @ft_view_section = {} %>

<% @ft_view_section[:description] = capture { %>
<% if @show_item[:description] then %>

  <!-- Description -->

  <div class="doc_section_group">                             <!-- div10.doc -->
    <div class="doc_section_label"> Description </div>    <!-- div11.doc -->
    <div class="doc_section_value">  <!-- div12g.doc -->
        <%= rc_format((@user_report.description.to_s)) %> 
    </div>   <!-- div12g.doc end -->
  </div>   <!-- div10.doc end -->

<% end %>
<% } %>

<% @ft_view_section[:xml_descriptor] = capture { %>
<% if @show_item[:xml_descriptor] then %>

  <!-- Xml Descriptor -->

  <div class="doc_section_group">                             <!-- div10.doc -->
    <div class="doc_section_label"> Xml Descriptor </div>    <!-- div11.doc -->
    <div class="doc_section_value">  <!-- div12g.doc -->
        <%= rc_format((@user_report.xml_descriptor.to_s)) %> 
    </div>   <!-- div12g.doc end -->
  </div>   <!-- div10.doc end -->

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :description
   @ft_view_section_order << :xml_descriptor
%>

<!-- BEGIN-UID.user_text_ordering -->

<!-- END-UID.user_text_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

<div class="show_as_doc_related">

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

<div class="show_hide_subtable_text">
<% listtext_op = session['list_text_toggles'] ? "show text in tables" : "hide text in tables" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images in tables" : "hide images in tables" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>
</div>


<% @ft_view_section = {} %>


<% @ft_view_section[:report_subscriptions] = capture { %>
<% if @show_item[:report_subscriptions] then %>

  <!-- Report Subscriptions -->

  <a name="report_subscriptions"></a>

  <div id="show_rel_report_subscriptions" class="show_rel show_rel_report_subscriptions">                                                <!-- div33 -->
    <div id="show_rel_report_subscriptions_label" class="rel_label"> Report Subscriptions &nbsp; <%= show_hide('show/hide','show_rel_report_subscriptions_value')%></div>            <!-- div34 -->

    <div id="show_rel_report_subscriptions_value" class="rel_value">                                           <!-- div35 -->


         <ul style="margin-left:20px;">

<% if @report_subscriptions != nil %>
<% for report_subscription in (@report_subscriptions.kind_of? Array) ? @report_subscriptions : [ @report_subscriptions ] %>
         <li>
        <% text = report_subscription.email.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to report_subscription.iname, url_show(report_subscription), :class => 'identity_link' %> 
        </li>
<% end %>
<% end %>
         </ul> 

    </div>           <!-- end div35 -->
  </div>               <!-- end div33 -->
<% end %>
<% } %>


<%     @ft_view_section_order = []
       @ft_view_section_order << :report_subscriptions
%>
<!-- BEGIN-UID.user_rel_ordering -->

<!-- END-UID.user_rel_ordering -->

<% for s in @ft_view_section_order do %>
   <%= @ft_view_section[s].to_s %>
<% end %>

</div> <!-- show_as_doc_related -->


</div>  <!-- show_as_doc_view -->

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table width="100%" border="0" cellspacing="0" style="margin-bottom:-5px;margin-top:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'user_reports', :action => 'edit', :id => @user_report %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'show', :id => @user_report.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'show_as_doc', :id => @user_report.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'list')%>"> <%="Table of User Report".pluralize%> </option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'block_list')%>"> <%="List of User Report".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'user_reports', :action => 'new')%>"> Add new User Report </option>

    <option value="#">----------------</option>



    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@user_report)%>
</td>
</tr>
</table>
</div>

<% end %>
