
<%
  table_defs = UserTablesController::USER_TABLES
  table_def = table_defs.find{|t| t[:name] == @query.table}
%>


<h3 style="margin:0 0 8px 0; float:left;">Edit Custom Report</h3>

<div style="float:left; margin:8px 0 0 120px;">
  <%= js_button_to "Done Editing", {:action => 'list'}, :style=>'color:green;' %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <%= js_button_with_confirm_to 'Delete This Report', {:action => 'destroy_rept', :id => @user_report}, :style=>'color:red;' %>
</div>

<p class="spacer"><!-- --></p>

<div style="float:left;border:outset; padding:10px; margin:20px; width:550px; background:#BFD4E5;">
  <fieldset>
    <legend>Basic Properties</legend>

  <% form_tag(:action => 'vis_edit_update', :id => @user_report) do %>
    <div>
      <table style="margin-bottom:8px;">
      <tr><th>Report Type</th><td><%= @query.table.titleize %></td></tr>
      <tr><th>Title</th><td><%= text_field_tag 'user_report[title]', @query.title.to_s, :size => 50 %></td></tr>
      <tr><th>Category</th><td><%= text_field_tag 'user_report[category]', @query.category.to_s, :size => 50 %></td></tr>
      <tr><th>Short Description</th><td><%= text_field_tag 'user_report[short_desc]', @query.short_desc.to_s, :size => 50 %></td></tr>
      <tr><th>Full Description</th><td><%= text_area_tag 'user_report[description]', @query.description.to_s, :cols => 48 %></td></tr>
      <tr><th>Max Records</th><td><%= text_field_tag 'limit', @query.limit.to_s, :size => 10 %></td></tr>
      </table>
    </div>

    <%= hidden_field_tag 'table', @str_table %>

    <p style="float:right; margin-top:-28px; margin-right:30px;"><%= submit_tag "Apply Form Changes" %> </p>

    <p class="spacer"><!-- --></p>
  <%  end %>

  </fieldset>
</div>



<div id="value_reference" style="float:left; margin:20px; display:none;">
  <h5 style="margin:-18px 0 0 0;">Field Value Reference</h5>

    <% add_values_col = true %>
    <table class="thinline" border="0" cellspacing="0">
      <%
        enum_cols = table_def[:fields].select{|f| f[:enum]}
        for f in enum_cols do
      %>
      <tr>
        <td style="white-space: nowrap;">
          <%= f[:name] %>
        </td>
        <td style="white-space: nowrap;">
          <%= link_to_remote "&nbsp;&rarr;&nbsp;",
              :url => url_for(:controller => 'user_reports', :action => 'get_enum_vals', :id => @user_report, :field_name => f[:name]),
              :update => 'enum_values'
          %>
        </td>

          <%
            if add_values_col then
              add_values_col = false
          %>
            <td rowspan="<%= enum_cols.size %>">
              <div id="enum_values" style="padding:0 6px; width:250px; height:2.5in; overflow: auto;">
                Values are shown here
              </div>
            </td>
          <% end %>

      </tr>
      <% end %>
    </table>
</div>



<p class="spacer"><!-- --></p>



<div style="margin:0 20px;" class="">

  <div style="float:left; padding-right:20px; " class="">

    <h5 style="margin:0;">Available Fields</h5>
      <table class="thinline vmt_thinline_narrow" border="0" cellspacing="0" cellpadding="4">
      <tr>
        <th><%= (%w(field_name field_type add).collect{|v| v.titleize}).join("</th><th>")%></th>
      </tr>

      <%
        for f in table_def[:fields] do
          field = @query.get_field(f[:name])
          next if field && field.is_selected
      %>
        <tr>
          <td>
              <%= [ f[:name],
                    f[:type],
                    " &nbsp; "+link_to("&nbsp;&rarr;&nbsp;",
                         :controller => 'user_reports', :action => 'add_field', :id => @user_report, :field_name => f[:name])+" &nbsp; ",
                  ].join("</td><td>") %>
          </td>
        </tr>
      <% end %>
    </table>

  </div>


  <div style="float:left;" class="">

    <h5 style="margin:0;">Query Fields</h5>
    <table class="thinline vmt_thinline_narrow" border="0" cellspacing="0" cellpadding="4">
      <tr>
        <th>&nbsp;</th><th><%= (%w(col_pos field_name remove).collect{|v| v.titleize}).join("</th><th>")%></th>
      </tr>

      <%
        first = true
        for field in @selected_fields do
      %>
        <tr>
          <td>
              <%= [ " &nbsp; " + (first ? "" : link_to("&nbsp;&uarr;&nbsp;",
                        :controller => 'user_reports', :action => 'move_field_up', :id => @user_report, :field_name => field.name)) + " &nbsp;",
                    field.col_order.to_s,
                    field.name,
                    "&nbsp; &nbsp;"+link_to(image_tag("red_minus.jpg", :border => 'none', :width => '13px'),
                        :controller => 'user_reports', :action => 'remove_field', :id => @user_report, :field_name => field.name),
                  ].join("</td><td>") %>
          </td>
        </tr>
        <% first = false %>
      <% end %>
    </table>

  </div>



  <div style="float:left; margin-left:30px;" class="">

    <h5 style="margin:0;">Conditions</h5>
      <table class="thinline vmt_thinline_narrow" border="0" cellspacing="0" cellpadding="4">
      <tr>
        <th><%= (%w(field_name conditions remove).collect{|v| v.titleize}).join("</th><th>")%></th>
      </tr>

      <%
        for f in table_def[:fields] do
          field = @query.get_field(f[:name])
          next unless field && ! field.conditions.to_a.empty?
      %>
        <tr>
          <td>
              <%= [ f[:name],
                    field.conditions.to_a.collect{|c| c.to_sql}.join(" and "),
                    "&nbsp; &nbsp;"+link_to(image_tag("red_minus.jpg", :border => 'none', :width => '13px'),
                        :controller => 'user_reports', :action => 'remove_conditions', :id => @user_report, :field_name => field.name)
                  ].join("</td><td>") %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">
          <%= show_hide image_tag("green_plus.jpg", :border => 'none'), 'condition_form' %>
          <div id="condition_form" style="display:none; padding:4px; margin-left:30px; margin-top:-20px;">
            <% form_tag(:controller => 'user_reports', :action => 'add_condition', :id => @user_report) do %>
              <table class="thinline" border="0" cellspacing="0">
                <tr>
                  <th style="text-align:left;">Field Name</th><td><%= select_tag('field_name',
                        options_for_select(table_def[:fields].collect{|f| [f[:name],f[:name]]})) %></td>
                </tr>
                <tr>
                  <th style="text-align:left;">Operation</th><td><%= select_tag('operation',
                        options_for_select(REAL_OP.keys.collect{|k| [k,k]})) %></td>
                </tr>
                <tr>
                  <th style="text-align:left;">Value [, Value, ...]<br/>
                    <%= show_hide("Show Choices",'value_reference') %></th>
                    <td><%= text_field_tag('operands', '', :style => 'width:96%')%></td>
                </tr>
              </table>

              <p style="margin:4px 0 0 170px;"><%= submit_tag "Add" %></p>
            <% end %>

            <p style="margin:-21px 0 0 230px;"><%= submit_tag "Cancel", :onclick => "$('condition_form').hide();" %></p>
          </div>
       </td>
      </tr>
    </table>

    
    <h5 style="margin:8px 0 0 0;">Sorting</h5>
      <table class="thinline vmt_thinline_narrow" border="0" cellspacing="0" cellpadding="4">
      <tr>
        <th><%= (%w(_ sort_order field_name sort).collect{|v| v.titleize}).join("</th><th>")%></th>
      </tr>

      <%
        fields = @query.fields.to_a.select{|f| f.is_selected}.sort{|a,b| a.sort_order.to_i <=> b.sort_order.to_i}
        for field in fields do
          next unless field.sort_order
      %>
        <tr>
          <td>
              <%= [ " &nbsp; " + (field.sort_order.to_i <= 1 ? "" : link_to("&nbsp;&uarr;&nbsp;",
                      :controller => 'user_reports', :action => 'move_sort_up', :id => @user_report, :field_name => field.name)) + " &nbsp;",
                    " &nbsp; " + field.sort_order.to_s,
                    field.name,
                    link_to((field.sorting ? field.sorting.to_s.upcase : "&nbsp;-&nbsp;"),
                        :controller => 'user_reports', :action => 'toggle_sort', :id => @user_report, :field_name => field.name),
                  ].join("</td><td>") %>
          </td>
        </tr>
      <% end %>

      <%
        fields = @selected_fields
        for field in fields do
          next if field.sort_order
      %>
        <tr>
          <td>
              <%= [ " &nbsp; " + (field.sort_order.to_i <= 1 ? "" : link_to("&nbsp;&uarr;&nbsp;",
                      :controller => 'user_reports', :action => 'move_sort_up', :id => @user_report, :field_name => field.name)) + " &nbsp;",
                    " &nbsp; " + field.sort_order.to_s,
                    field.name,
                    link_to((field.sorting ? field.sorting.to_s.upcase : "&nbsp;-&nbsp;"),
                        :controller => 'user_reports', :action => 'toggle_sort', :id => @user_report, :field_name => field.name),
                  ].join("</td><td>") %>
          </td>
        </tr>
      <% end %>

    </table>

  </div>

</div>

<p class="spacer">&nbsp;</p>
