
<p id="top_section_label">Matching <%= @obj_type.pluralize %></p>

<hr />

<h3 id="section_label">
  <%= @list_title.to_s %>
</h3>

<% if @entities.size == 0 then %>

  <p>There are no entries matching this criteria</p>

<% else %>

  <table class="compact" cellspacing="0" cellpadding="6" style="margin-left: 10px;">

    <tr style="
        background:url(/persistence/images/vslice_vmt_pod_banner.jpg);
        ">
      <th><%= prop_dname(@prop_type) %></th><th><%= @obj_type %> Name</th>
    </tr>

    <% for entity in @entities[0,10] do %>
    <tr>
        <td>
          <%= @prefix + (entity.read_attribute(:value).to_f*@factor).to_s + @suffix %>
        </td>

        <td>
          <%= link_to entity.display_name.to_s, :action => "summary_#{@e_code}", :"#{@e_code}_uuid" => entity.uuid %>
        </td>
    </tr>
    <% end %>
  </table>

    <p style="margin-left:8px;">
  <% if @page > 1 %>
      <%= link_to "&laquo; Prev", params.merge({:page => (@page - 1)}) %>
  <% end %>
  <% if @entities.size > 10 %>
      <%= link_to "Next &raquo;", params.merge({:page => (@page + 1)}) %>
  <% end %>
    </p>

<% end %>
