
<p id="top_section_label">Hot Spots</p>

<hr />

<p id="section_label">Over Utilized</p>


<ul>

  <li>
    Top 10 Hosts
    <ul>
      <li>
        <%= link_to "Over 60% CPU", :action => 'top_10_hosts', :prop_type => 'CPU', :prop_subtype => 'utilization', :cutoff => '0.60' %>
      </li>

      <li>
        <%= link_to "Over 80% Memory", :action => 'top_10_hosts', :prop_type => 'Mem', :prop_subtype => 'utilization', :cutoff => '0.80' %>
      </li>
    </ul>
  </li>

</ul>

<p style="margin:0; line-height: 6pt;">&nbsp;</p>

<ul>

  <li>
    Top 10 VMs
    <ul>
      <li>
        <%= link_to "Over 60% CPU", :action => 'top_10_vms', :prop_type => 'VCPU', :prop_subtype => 'utilization', :cutoff => '0.60' %>
      </li>

      <li>
        <%= link_to "Over 80% Memory", :action => 'top_10_vms', :prop_type => 'VMem', :prop_subtype => 'utilization', :cutoff => '0.80' %>
      </li>
    </ul>
  </li>

</ul>

<p style="margin:0; line-height: 6pt;">&nbsp;</p>

<ul>

  <li>
    Top 10 Datastores
    <ul>

      <li>
        <%= link_to "Over 75% depleated", :action => 'top_10_dss', :prop_type => 'StorageAmount', :prop_subtype => 'utilization', :cutoff => '0.75' %>
      </li>

    </ul>
  </li>
</ul>


<p id="section_label">Congested</p>

<ul>

  <li>
    Top 10 VMs
    <ul>
      <li>
        <%= link_to "High IOPS (over 100)", :action => 'top_10_vms', :prop_type => 'StorageAccess', :prop_subtype => 'used', :cutoff => '100' %>
      </li>

      <li>
        <%= link_to "High Latency (over 150 MS)", :action => 'top_10_vms', :prop_type => 'StorageLatency', :prop_subtype => 'used', :cutoff => '150' %>
      </li>
    </ul>
  </li>

</ul>

<p style="margin:0; line-height: 6pt;">&nbsp;</p>

<ul>

  <li>
    Top 10 Datastores
    <ul>

      <li>
        <%= link_to "High IOPS (over 100)", :action => 'top_10_dss', :prop_type => 'StorageAccess', :prop_subtype => 'used', :cutoff => '100' %>
      </li>

      <li>
        <%= link_to "High Latency (over 150 MS)", :action => 'top_10_dss', :prop_type => 'StorageLatency', :prop_subtype => 'used', :cutoff => '150' %>
      </li>

    </ul>
  </li>

</ul>
