
<p id="top_section_label">Virtual Machine Summary</p>

<hr />

<h4 style="margin:4px 0;">Virtual Machine: <%= @vm_name %> </h4>

<h3 id="section_label">Resource Utilization</h3>

<table border="0" cellspacing="4">
  <tr>
    <th>Resource</th><th>&nbsp;</th><th>Avg Utilized</th><th>Peak Utilized</th>

    <% for stat in @stats.sort{|a,b| b.max_property_value.to_f <=> a.max_property_value.to_f} do %>
        <%# next if stat.property_type.downcase =~ /ballooning|swapping|q.*vcpu/ %>

      <tr>
        <td><%= prop_dname(stat.property_type) %></td>
        <td>&nbsp;</td>
        <td style="text-align: right;"><%= sprintf("%6.1f",stat.property_value.to_f*100)+'%'%></td>
        <td style="text-align: right;"><%= sprintf("%6.1f",stat.max_property_value.to_f*100)+'%'%></td>
      </tr>
    <% end %>
  </tr>
</table>


<h3 id="section_label">Resource Consumption</h3>

<%
  units_for = {}
  units_for["Mem"] = "KBytes"
  units_for["CPU"] = "MHz"
  units_for["IOThroughput"] = "KBytes/Sec"
  units_for["NetThroughput"] = "KBytes/Sec"
  units_for["Swapping"] = "KBytes"
  units_for["Ballooning"] = "KBytes"
  units_for["StorageAmount"] = "MBytes"
  units_for["StorageAccess"] = "IOPS"
  units_for["StorageLatency"] = "Milliseconds"
  units_for["Q1VCPU"]  = "MS / 20 Secs"
  units_for["Q2VCPU"]  = "MS / 20 Secs"
  units_for["Q4VCPU"]  = "MS / 20 Secs"
  units_for["Q8VCPU"]  = "MS / 20 Secs"
  units_for.default = 'Units'

  multiplier = {}
  multiplier["Q1VCPU"]  = 1.0
  multiplier["Q2VCPU"]  = 1.0/2.0
  multiplier["Q4VCPU"]  = 1.0/4.0
  multiplier["Q8VCPU"]  = 1.0/8.0
  multiplier.default = 1.0
%>

<table border="0" cellspacing="4">
  <tr>
    <th>Resource</th><th>&nbsp;</th><th>Avg Used</th><th colspan="2">Peak Used</th>

    <% for stat in @stats_used.sort{|a,b| b.property_value.to_f <=> a.property_value.to_f} do %>
        <%# next if stat.property_type.downcase =~ /ballooning|swapping|q.*vcpu/ %>

      <tr>
        <td><%= prop_dname(stat.property_type) + "/" + stat.property_subtype.to_s %></td>
        <td>&nbsp;</td>
        <td style="text-align: right;"><%= number_with_delimiter((stat.property_value.to_f*multiplier[stat.property_type]).round.to_s)%></td>
        <td style="text-align: right;"><%= number_with_delimiter((stat.max_property_value.to_f*multiplier[stat.property_type]).round.to_s)%></td>
        <td><%= units_for[stat.property_type].to_s %></td>
      </tr>
    <% end %>
  </tr>
</table>
