
<p id="top_section_label">Cluster Summary</p>

<hr />

<h4 style="margin:4px 0;">Cluster: <%= @group_name.gsub(/^PMs_/,"") %> </h4>

<h3 id="section_label">Resource Utilization</h3>

<%
  fields = %W(property_type property_subtype property_value)
%>

<table border="0" cellspacing="4">
  <tr>
    <th>Resource</th><th>&nbsp;</th><th>Avg Utilized</th>

    <% for stat in @stats.sort{|a,b| b.property_value.to_f <=> a.property_value.to_f} do %>
        <%# next if stat.property_type.downcase =~ /ballooning|swapping|q.*vcpu/ %>

      <tr>
        <td><%= stat.property_type.gsub("Throughput","").gsub(/Q(\d+)VCPU/,'VCPU \1 Wait') %></td>
        <td>&nbsp;</td>
        <td style="text-align: right;"><%= sprintf("%6.1f",stat.property_value.to_f*100)+'%'%></td>
      </tr>
    <% end %>
  </tr>
</table>


<%
  keys = @grouped_stats.keys.sort{|a,b| @grouped_stats[a]['display_name'].to_s.downcase <=> @grouped_stats[b]['display_name'].to_s.downcase}

  unless keys.empty?
    names = @grouped_stats.values.last.keys.reject{|k| k.downcase =~ /ballooning|swapping|q.*vcpu|display_name/}
%>



<h3 id="section_label">Member Hosts</h3>

<table border="0" cellspacing="4">
  <tr>
    <th>Host</th><th style="text-align: right;"><%= names.collect{|n| n.gsub("Throughput","")}.join("</th><th style=\"text-align: right;\">") %></th>
  </tr>
  <% for key in keys do %>
    <tr>
      <td><%= link_to @grouped_stats[key]['display_name'], :controller => 'mobi', :action => 'summary_pm', :pm_uuid => key %>
        </td><td style="text-align: right;"><%= names.collect{|n| sprintf("%6.1f",@grouped_stats[key][n].to_f*100)+"%"}.join("</td><td style=\"text-align: right;\">") %></td>
    </tr>
  <% end %>
</table>

<%
  end
%>
