
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}

   @edit_ctrl_cols = @edit_ctrl_cols || 80

   @text_ctrl_rows = @text_ctrl_rows || 8
   @text_ctrl_cols = @text_ctrl_cols || (@edit_ctrl_cols - 1)
%>

<!-- BEGIN-UID.user_vis_ctrls -->

<!-- END-UID.user_vis_ctrls -->

<%= error_messages_for 'entity_attr' %>

<!--[form:entity_attr]-->
<table class="aform_table">

<% @ft_view_section[:name] = capture { %>
<% if @show_item[:name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="entity_attr_name">Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'entity_attr', 'name', :size => [80,@edit_ctrl_cols].min, :maxlength => "80", :id => "focus" %></td>
</tr>
<% end %>
<% } %>

<% if @show_item[:data_type] then %>
<tr class="aform_row">
<td class="label">&nbsp;</td>
<td class="value">&nbsp;</td>
</tr>
<% end %>
<% } %><% @ft_view_section[:data_type] = capture { %>


<% @ft_view_section[:value] = capture { %>
<% if @show_item[:value] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="entity_attr_value">Value&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'entity_attr', 'value', :size => [250,@edit_ctrl_cols].min, :maxlength => "250" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:multi_values] = capture { %>
<% if @show_item[:multi_values] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="entity_attr_multi_values">Multi Values</label></td>
<td class="value">&nbsp;<%= text_area 'entity_attr', 'multi_values', :rows => @text_ctrl_rows, :cols => @text_ctrl_cols %></td>
</tr>
<% end %>
<% } %>

<%     @ft_view_section_order = []
       @ft_view_section_order << :name
       @ft_view_section_order << :value
       @ft_view_section_order << :multi_values
%>

<!-- BEGIN-UID.user_section_ordering -->

<!-- END-UID.user_section_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


<!-- BEGIN-UID.user_fields -->

<!-- END-UID.user_fields -->

</table>

<input id="entity" type="hidden" name="entity_id" value="<%=@entity ? @entity.id : ''%>"/>

<!--[eoform:entity_attr]-->
