
<!-- start toplinks -->

<table style="margin-bottom:15px;" border="0" width="100%">
<tr>
<td width="60%" valign="top">

<p>
 <%= js_button_to "Tabular View", params.merge(:controller => 'entity_attrs', :action => 'list') %>
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <% unless session['user'] && !session['user'].is_admin? %>
        <option value="#">----------------</option>
        <option value="<%=url_for(params.merge(:controller => 'entity_attrs', :action => 'download_csv'))%>"> Download CSV </option>
        <option value="<%=url_for(:controller => 'entity_attrs', :action => 'csv_upload')%>"> Upload CSV </option>
    <% end %>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</p>

</td>

<td width="40%" valign="top">
</td>
</tr>
</table>

<!-- end toplinks -->

<% listtext_op = session['list_text_toggles'] ? "show text" : "hide text" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images" : "hide images" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>

<% @entity_attrs.each { |obj| %>

    <div class="obj_block">
    <hr/>
<div class="block_line_item">
    <div class="block_label">Name:</div>
    <% text = obj.name.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= link_to text, url_show(obj) %>
</div>
</div>
<div class="block_line_item">

    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Value:</div>
    <% text = obj.value.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Multi Values:</div>
    <% text = obj.multi_values.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
          <% if session['list_text_toggles'] then %>
             <%= show_hide "show/hide","multi_values_attr_#{obj.id}"%>
             <div class="cell_text_popup" id="multi_values_attr_<%=obj.id%>" style="display:none;">
                <%= text %>
             </div>
          <% else %>
             <%= text %>
          <% end %>
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Entity:</div>
    <div class="block_value">
        <%= link_to(obj.entity.iname, url_show(obj.entity)) if obj.entity %>
    </div>
</div>
    </div>

<% } %>

<p class="spacer">&nbsp;</p>

<p>
 <%= js_button_to "Tabular View", params.merge(:controller => 'entity_attrs', :action => 'list') %>
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <% unless session['user'] && !session['user'].is_admin? %>
        <option value="#">----------------</option>
        <option value="<%=url_for(params.merge(:controller => 'entity_attrs', :action => 'download_csv'))%>"> Download CSV </option>
        <option value="<%=url_for(:controller => 'entity_attrs', :action => 'csv_upload')%>"> Upload CSV </option>
    <% end %>
    </select>
</p>

