
<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<div  id="add_new_to_entities" style="float:right; width:60%;">
    <% dest = url_for :controller => 'classifications', :action => 'update_entities', :id => @classification.id %>
    <%= form_tag( :controller => 'entities', :action => 'new', :redirect => dest ) %>
        <%= submit_tag 'Add New...' %>
    </form> <!-- end form_tag -->
</div>

<div id="add_to_entities_list">
    <%= form_tag( :controller => 'classifications', :action => :update_entities, :id => @classification ) %>
        <%= submit_tag 'Add Selected' %>
        <p class="select_list">&nbsp;</p>
        <% for entity in @entities %>
            <p class="select_list"> <%= check_box_tag("entity_ids[]",entity.id) %> <%= entity.sname %> </p>
        <% end %>
        <p class="select_list">&nbsp;</p>
        <%= submit_tag 'Add Selected' %>
    </form> <!-- end form_tag -->
</div>

<!-- BEGIN-UID.user_divs -->

<!-- END-UID.user_divs -->

