
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   view_params = { :form_name => 'classifications/form' }
   @ft_view_section = {}
%>
<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table width="100%" border="0" cellspacing="0" style="margin-top:-5px;margin-bottom:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Normal View', :controller => 'classifications', :action => 'show', :id => @classification %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'classifications', :action => 'list')%>"> <%="Table of Classification".pluralize%> </option>
    <option value="<%=url_for(:controller => 'classifications', :action => 'block_list')%>"> <%="List of Classification".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'classifications', :action => 'new')%>"> Add new Classification </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@classification)%>
</td>
</tr>
</table>
</div>

<% end %>

<!-- BEGIN-UID.user_mods -->

<!-- END-UID.user_mods -->

<fieldset>
<LEGEND>Properties</LEGEND>

<%= form_tag(:controller => 'classifications', :action => 'update', :id => @classification) %>
  <p class="submit_top">&nbsp;<%= submit_tag 'Save Changes' %> </p>
  <%= render :partial => view_params[:form_name] %>
  <p class="submit_bottom">&nbsp;<%= submit_tag 'Save Changes' %> </p>
</form> <!-- end form_tag -->

</fieldset>

<p class="spacer">&nbsp;</p>

<div class="edit_view edit_view_classification">              <!-- div1 -->

<!-- BEGIN-UID.user_related_items -->

<!-- END-UID.user_related_items -->

<% @ft_view_section = {} %>

<% @ft_view_section[:entities] = capture { %>
<% if @show_item[:entities] then %>

  <!-- Entities -->

  <a name="entities"></a>

  <div id="show_rel_entities" class="show_rel show_rel_entities">                                                 <!-- div28 -->
    <div class="detail_quick_add detail_quick_add_entity" id="quick_add_classification_entities" style="float:right;">
        <%= show_hide "Quick-add Entities by name", 'quick_add_entities' %>
        <div id="quick_add_entities" style="display:none; margin-bottom:4px; padding:8px;">
            enter one name per line
            <%=form_tag :controller => 'classifications', :action => 'quick_add_entities', :id => @classification.id %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add Entities'%>
            </form>
        </div>
    </div>

    <div id="show_rel_entities_label" class="rel_label"> Entities &nbsp; <%= show_hide('show/hide','show_rel_entities_value')%> </div>        <!-- div29 -->

    <div id="show_rel_entities_value" class="rel_value">                                                                           <!-- div30 -->
        <ul style="margin-left:20px;">
        <% for entity in (@entities || []) %>
        <li>

        <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'classifications', :action => 'remove_from_entities', :id => @classification.id, :entity_id => entity.id} %>
        &nbsp; <%= link_to image_tag("pencil.jpg",{:border=>"0", :title => 'Edit'}), {:controller => entity.ctrlr_name, :action => 'edit', :id => entity.id, 
                                       :return_to_controller => 'classifications', :return_to_action => 'edit', :return_to_id => @classification.id} %> 
        &nbsp &nbsp;
        <% text = entity.name.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to entity.iname, url_show(entity), :class => "identity_link" %> 
        </li>
        <% end %>
        </ul> 
        <p class="add_new_link">
        <%= link_to 'Add Entity', :controller => 'classifications', :action => 'add_to_entities', :id => @classification.id, :obj_context => @classification.iname %> 
        </p>

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :entities
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


</div>                           <!-- end div1 -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table width="100%" border="0" cellspacing="0" style="margin-bottom:-5px;margin-top:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Normal View', :controller => 'classifications', :action => 'show', :id => @classification %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'classifications', :action => 'list')%>"> <%="Table of Classification".pluralize%> </option>
    <option value="<%=url_for(:controller => 'classifications', :action => 'block_list')%>"> <%="List of Classification".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'classifications', :action => 'new')%>"> Add new Classification </option>

    <option value="#">----------------</option>



    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@classification)%>
</td>
</tr>
</table>
</div>

<% end %>
