
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>

<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<% @ft_view_section[:ft_prop_title] = capture { %>
<% if @show_item[:ft_prop_title] then %>
<div class="show_iname">
   <%= @ds_stats_by_hour.iname %>
</div>
<% end %>
<% } %>



<% @ft_view_section[:snapshot_time] = capture { %>
<% if @show_item[:snapshot_time] then %>

  <!-- Snapshot Time -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_snapshot_time ">      <!-- div10 -->
    <div class="show_attr_label"> Snapshot Time </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.snapshot_time.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:uuid] = capture { %>
<% if @show_item[:uuid] then %>

  <!-- Uuid -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_uuid ">      <!-- div10 -->
    <div class="show_attr_label"> Uuid </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.uuid.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:producer_uuid] = capture { %>
<% if @show_item[:producer_uuid] then %>

  <!-- Producer Uuid -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_producer_uuid ">      <!-- div10 -->
    <div class="show_attr_label"> Producer Uuid </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.producer_uuid.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:property_type] = capture { %>
<% if @show_item[:property_type] then %>

  <!-- Property Type -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_property_type ">      <!-- div10 -->
    <div class="show_attr_label"> Property Type </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.property_type.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:property_subtype] = capture { %>
<% if @show_item[:property_subtype] then %>

  <!-- Property Subtype -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_property_subtype ">      <!-- div10 -->
    <div class="show_attr_label"> Property Subtype </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.property_subtype.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:capacity] = capture { %>
<% if @show_item[:capacity] then %>

  <!-- Capacity -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_capacity ">      <!-- div10 -->
    <div class="show_attr_label"> Capacity </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.capacity.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:avg_value] = capture { %>
<% if @show_item[:avg_value] then %>

  <!-- Avg Value -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_avg_value ">      <!-- div10 -->
    <div class="show_attr_label"> Avg Value </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.avg_value.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:min_value] = capture { %>
<% if @show_item[:min_value] then %>

  <!-- Min Value -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_min_value ">      <!-- div10 -->
    <div class="show_attr_label"> Min Value </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.min_value.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:max_value] = capture { %>
<% if @show_item[:max_value] then %>

  <!-- Max Value -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_max_value ">      <!-- div10 -->
    <div class="show_attr_label"> Max Value </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.max_value.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:std_dev] = capture { %>
<% if @show_item[:std_dev] then %>

  <!-- Std Dev -->

  <div class="show_attr_group attr_group_ds_stats_by_hour_std_dev ">      <!-- div10 -->
    <div class="show_attr_label"> Std Dev </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@ds_stats_by_hour.std_dev.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>


<% @ft_view_section_order = []
   @ft_view_section_order << :ft_prop_title
   @ft_view_section_order << :snapshot_time
   @ft_view_section_order << :uuid
   @ft_view_section_order << :producer_uuid
   @ft_view_section_order << :property_type
   @ft_view_section_order << :property_subtype
   @ft_view_section_order << :capacity
   @ft_view_section_order << :avg_value
   @ft_view_section_order << :min_value
   @ft_view_section_order << :max_value
   @ft_view_section_order << :std_dev
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

