<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table width="100%" border="0" cellspacing="0" style="margin-top:-5px;margin-bottom:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'ds_stats_by_hours', :action => 'edit', :id => @ds_stats_by_hour %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'show', :id => @ds_stats_by_hour.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'show_as_doc', :id => @ds_stats_by_hour.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'list')%>"> <%="Table of Ds Stats By Hour".pluralize%> </option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'block_list')%>"> <%="List of Ds Stats By Hour".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'new')%>"> Add new Ds Stats By Hour </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@ds_stats_by_hour)%>
</td>
</tr>
</table>
</div>

<% end %>

<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   show_props_subview = 'show_properties'
   show_rel_subview   = 'show_related'
%>

<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<div class="show_view show_view_ds_stats_by_hour">   <!-- show_view -->

    <p class="prev_next_links">
    <%=link_to "previous", url_show(@ds_stats_by_hour.prev_item), :title => "Previous Ds Stats By Hour", :style => "font-size:8pt;"%> 
    | <%=link_to "next", url_show(@ds_stats_by_hour.next_item), :title => "Next Ds Stats By Hour", :style => "font-size:8pt;"%>
    </p>

  <% if @show_item[:ft_show_props] %>
    <div id="show_ds_stats_by_hour_props" class="show_props show_props_ds_stats_by_hour">   <!-- show_props -->

<!-- BEGIN-UID.user_properties -->

<!-- END-UID.user_properties -->

       <%= render :partial => show_props_subview %>

    </div>         <!-- show_props -->

  <% end %>

    <p class="spacer">&nbsp;</p>

  <% if @show_item[:ft_show_rels] %>
    <div id="show_ds_stats_by_hour_rels" class="show_related">

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

       <%= render :partial => show_rel_subview %>

    </div>  <!-- show_related -->

  <% end %>

</div>  <!-- show_view -->

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table width="100%" border="0" cellspacing="0" style="margin-bottom:-5px;margin-top:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'ds_stats_by_hours', :action => 'edit', :id => @ds_stats_by_hour %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'show', :id => @ds_stats_by_hour.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'show_as_doc', :id => @ds_stats_by_hour.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'list')%>"> <%="Table of Ds Stats By Hour".pluralize%> </option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'block_list')%>"> <%="List of Ds Stats By Hour".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'ds_stats_by_hours', :action => 'new')%>"> Add new Ds Stats By Hour </option>

    <option value="#">----------------</option>



    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@ds_stats_by_hour)%>
</td>
</tr>
</table>
</div>

<% end %>
