
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>

<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<% @ft_view_section[:ft_prop_title] = capture { %>
<% if @show_item[:ft_prop_title] then %>
<div class="show_iname">
   <%= @report_subscription.iname %>
</div>
<% end %>
<% } %>



<% @ft_view_section[:email] = capture { %>
<% if @show_item[:email] then %>

  <!-- Email -->

  <div class="show_attr_group attr_group_report_subscription_email ">      <!-- div10 -->
    <div class="show_attr_label"> Email </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@report_subscription.email.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:period] = capture { %>
<% if @show_item[:period] then %>

  <!-- Period -->

  <div class="show_attr_group attr_group_report_subscription_period ">      <!-- div10 -->
    <div class="show_attr_label"> Period </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@report_subscription.period.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:day_type] = capture { %>
<% if @show_item[:day_type] then %>

  <!-- Day Type -->

  <div class="show_attr_group attr_group_report_subscription_day_type ">      <!-- div10 -->
    <div class="show_attr_label"> Day Type </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@report_subscription.day_type.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>



<% @ft_view_section[:obj_uuid] = capture { %>
<% if @show_item[:obj_uuid] then %>

  <!-- Obj Uuid -->

  <div class="show_attr_group attr_group_report_subscription_obj_uuid ">      <!-- div10 -->
    <div class="show_attr_label"> Obj Uuid </div>                    <!-- div11 -->
    <div class="show_attr_value single_line"> <%= auto_link(@report_subscription.obj_uuid.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
<% end %>
<% } %>


<% @ft_view_section[:standard_report] = capture { %>
<% if @show_item[:standard_report] then %>

  <!-- Standard Report -->

  <div class="show_attr_group attr_group_report_subscription_standard_report"> 
    <div class="show_attr_label"> Standard Report </div> 
    <div class="show_attr_value"> <%= @report_subscription.standard_report.nil? ? "" : link_to(@report_subscription.standard_report.iname, url_show(@report_subscription.standard_report)) %>&nbsp;</div>
  </div>

<% end %>
<% } %>

<% @ft_view_section[:custom_report] = capture { %>
<% if @show_item[:custom_report] then %>

  <!-- Custom Report -->

  <div class="show_attr_group attr_group_report_subscription_custom_report"> 
    <div class="show_attr_label"> Custom Report </div> 
    <div class="show_attr_value"> <%= @report_subscription.custom_report.nil? ? "" : link_to(@report_subscription.custom_report.iname, url_show(@report_subscription.custom_report)) %>&nbsp;</div>
  </div>

<% end %>
<% } %>

<% @ft_view_section[:on_demand_report] = capture { %>
<% if @show_item[:on_demand_report] then %>

  <!-- On Demand Report -->

  <div class="show_attr_group attr_group_report_subscription_on_demand_report"> 
    <div class="show_attr_label"> On Demand Report </div> 
    <div class="show_attr_value"> <%= @report_subscription.on_demand_report.nil? ? "" : link_to(@report_subscription.on_demand_report.iname, url_show(@report_subscription.on_demand_report)) %>&nbsp;</div>
  </div>

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :ft_prop_title
   @ft_view_section_order << :email
   @ft_view_section_order << :period
   @ft_view_section_order << :day_type
   @ft_view_section_order << :obj_uuid
   @ft_view_section_order << :standard_report
   @ft_view_section_order << :custom_report
   @ft_view_section_order << :on_demand_report
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

