
<!-- start toplinks -->

<table style="margin-bottom:15px;" border="0" width="100%">
<tr>
<td width="60%" valign="top">

<p>
 <%= js_button_to "Tabular View", params.merge(:controller => 'report_subscriptions', :action => 'list') %>
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'report_subscriptions', :action => 'new')%>"> Add new Report Subscription </option>
    <% unless session['user'] && !session['user'].is_admin? %>
        <option value="#">----------------</option>
        <option value="<%=url_for(params.merge(:controller => 'report_subscriptions', :action => 'download_csv'))%>"> Download CSV </option>
        <option value="<%=url_for(:controller => 'report_subscriptions', :action => 'csv_upload')%>"> Upload CSV </option>
    <% end %>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</p>

</td>

<td width="40%" valign="top">
</td>
</tr>
</table>

<!-- end toplinks -->

<% listtext_op = session['list_text_toggles'] ? "show text" : "hide text" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images" : "hide images" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>

<% @report_subscriptions.each { |obj| %>

    <div class="obj_block">
    <hr/>
<div class="block_line_item">
    <div class="block_label">Email:</div>
    <% text = obj.email.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= link_to text, url_show(obj) %>
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Period:</div>
    <% text = obj.period.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Day Type:</div>
    <% text = obj.day_type.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Obj Uuid:</div>
    <% text = obj.obj_uuid.to_s %>
    <% text = rc_format((text)) %>
<div class="block_value">
    <%= text %> 
</div>
</div>
<div class="block_line_item">
    <div class="block_label">Standard Report:</div>
    <div class="block_value">
        <%= link_to(obj.standard_report.iname, url_show(obj.standard_report)) if obj.standard_report %>
    </div>
</div>
<div class="block_line_item">
    <div class="block_label">Custom Report:</div>
    <div class="block_value">
        <%= link_to(obj.custom_report.iname, url_show(obj.custom_report)) if obj.custom_report %>
    </div>
</div>
<div class="block_line_item">
    <div class="block_label">On Demand Report:</div>
    <div class="block_value">
        <%= link_to(obj.on_demand_report.iname, url_show(obj.on_demand_report)) if obj.on_demand_report %>
    </div>
</div>
    </div>

<% } %>

<p class="spacer">&nbsp;</p>

<p>
 <%= js_button_to "Tabular View", params.merge(:controller => 'report_subscriptions', :action => 'list') %>
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'report_subscriptions', :action => 'new')%>"> Add new Report Subscription </option>
    <% unless session['user'] && !session['user'].is_admin? %>
        <option value="#">----------------</option>
        <option value="<%=url_for(params.merge(:controller => 'report_subscriptions', :action => 'download_csv'))%>"> Download CSV </option>
        <option value="<%=url_for(:controller => 'report_subscriptions', :action => 'csv_upload')%>"> Upload CSV </option>
    <% end %>
    </select>
</p>

