
<%
  @main_class_ext = 'rept_viewer'
  @ft_activity = nil

  @reports.sort!{|a,b| a.title.to_s <=> b.title.to_s}
  cats = @reports.collect{|r| ! r.category.to_s.empty? ? r.category : "General"}.compact.sort.uniq

  rept_count = 0
%>

<div style="width:8.0in; float:left; margin-left:6px; margin-right:8px; margin-top:4px;">

  <% div_for_topic "Report E-Mail Subscriptions" do %>

    <% if StandardReport.host_feature_enabled? then %>

      <div style="margin: 10px 4px 0 4px; height:740px; overflow: auto; padding-right:8px;">
        <table border="0" cellspacing="0">

        <% for cat in cats do %>
          <tr>
            <td colspan="3" style="color:white; background:#AAA; padding:2px; letter-spacing: 1px; text-align:center;"><b><%= cat %></b></td>
            <td style="color:white; background:#AAA; padding:2px; letter-spacing: 1px; text-align:center;"><b>Subscribers</b></td>
          </tr>
          <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>

        <% for @report in @reports %>
          <% next unless @report.category == cat %>
          <tr>
            <td style="padding:0 4px 0 0; vertical-align: top;">
              <% if @report.instance_of?(UserReport) || @report.filename["_grid"] %>
                <%= image_tag "rept_grid.png" %>
              <% elsif @report.filename["_line"] %>
                <%= image_tag "rept_chart_line.png" %>
              <% elsif @report.filename["_bar"] %>
                <%= image_tag "rept_chart_bar.png" %>
              <% elsif @report.filename["_pie"] %>
                <%= image_tag "rept_chart_pie.png" %>
              <% else %>
                <%= image_tag "report.png" %>
              <% end %>

              <% if @report.instance_of?(UserReport) %>
                <p style="margin:-18px 0 0 6px;"><%= image_tag "user.png", :title => "Custom Report" %></p>
              <% end %>
            </td>

            <td style="vertical-align:top; white-space: wrap; padding-top:4px;">
              <span style="font-size:9pt; font-family: Arial;"
                    title="<%= @report.description.to_s %>">
                    <b><i><%= @report.title.to_s %></i></b>
                </span>
            </td>

            <td>&nbsp;</td>

            <td style="white-space: nowrap; padding-top:4px;">
              <% for rs in @report_subscriptions.select{|rsub| rsub.get_report == @report} do %>
                  <%= delete_icon_for(rs) %> <%= value_for(rs,:email) %> (<%= value_for(rs,:period) %><%=rs.period.to_s == "Weekly" ? (":"+rs.day_type) : ""%>)<br />
              <% end %>
              <%= link_to_remote(add_icon(),
                  :url => url_for(:controller => "report_subscriptions", :action => "edit_subscriptions_form",
                                  :class_name =>@report.class.name, :id => @report.id,
                                  :return_to => url_for(:controller => 'report_subscriptions', :action => 'list')),
                  :update => 'edit_subscriptions',
                  :complete => "$('edit_subscriptions').show();"
                ) %>
            </td>

          </tr>
          <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>
        <% end %>
        <% end %>
        </table>
      </div>

    <% else %>

      <p>Please install a license that enables reports.</p>

    <% end %>
      
  <% end %>

</div>

<div id="edit_subscriptions" class="edit_subscriptions" style="display:none;">
  &nbsp;
</div>
