
<!-- BEGIN-UID.user_ctrls -->

<!-- END-UID.user_ctrls -->

<div id="select_custom_report">
    <%= form_tag( :controller => 'report_subscriptions', :action => :update_custom_report, :id => @report_subscription ) %>
       <%= submit_tag 'Select' %>
       <p class="select_list">&nbsp;</p>
       <% for user_report in @user_reports %>
           <p class="select_list"> <%= radio_button_tag("user_report_id",user_report.id) %> <%= user_report.sname %> </p>
       <% end %>
       <p class="select_list">&nbsp;</p>
       <%= submit_tag 'Select' %>
    </form> <!-- end form_tag -->
</div>

<!-- BEGIN-UID.user_divs -->

<!-- END-UID.user_divs -->

