<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <!--[if lte IE 6.5]>
        <%= stylesheet_link_tag 'select-free' %>
        <![endif]-->

        <%= stylesheet_link_tag 'styles', :media => 'all' %>
        <%= stylesheet_link_tag 'styles_print', :media => 'print' %>

        <style type="text/css">

          body { background:white; }
          th { white-space: nowrap; }
          td.rhs { border:none; }

        </style>

        <title><%= @ft_title %></title>
    </head>

    <body class="app_layout" style="background:ivory;">

      <table border="0">
        <tr>
          <td class="rhs">
            <%= yield :layout %>
          </td>
        </tr>
      </table>

    </body>
</html>

