<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <%= javascript_include_tag :defaults %>

      <!--[if lte IE 6.5]>
        <%= stylesheet_link_tag 'select-free' %>
        <![endif]-->

        <%#= stylesheet_link_tag 'styles', :media => 'all' %>
        <%#= stylesheet_link_tag 'styles_print', :media => 'print' %>

        <%= stylesheet_link_tag 'mobi', :media => 'all' %>

        <title>VMTurbo Mobile</title>
    </head>

    <body>

      <div id="" class="mobi_header">

        <p class="mobi_banner">
          <%= image_tag 'vmt_logo.jpg', :border => :none, :height => '28px', :style => 'margin-top:6px;' %>
          mobile
        </p>

        <p class="mobi_buttons">
          <% if params[:action].to_s == 'index' %>
            <%= js_button_to "Refresh Data", :controller => 'mobi', :action => 'refresh'  %>
          <% else %>
            <%= js_button_to "Home", :controller => 'mobi', :action => 'index'  %>
          <% end %>
        </p>

        <p style="clear:both;"><!-- --></p>

      </div>

      <div class="mobi_content">
        <%= yield :layout %>
      </div>

    </body>
</html>
