<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<!-- This file is only generated if it does not already exist - you may safely modify it -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache"> 

    <%= javascript_include_tag 'date-functions' %>
    <%= javascript_include_tag 'datechooser' %>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag    'datechooser' %>

    <!--[if lte IE 6.5]>
    <%= stylesheet_link_tag 'select-free' %>
    <![endif]-->

    <title><%= @title || "Public Pages" %></title>

    <%= stylesheet_link_tag 'public_pages', :media => 'all' %>
    <%= stylesheet_link_tag 'styles_print', :media => 'print' %>
    
    <!--[if IE]>
    <style type="text/css">
        #navigation, #content, #views { margin-top: 20px; }
    </style>
    <![endif]-->
    
</head>

<body>

    <%= link_to('<p>Home</p>', url_public_home() , :class => 'homelink') %>

    <div id="container">

        <div id="header">
            <h1>Major Heading</h1>
            <p class="description">A subtitle ... </p>
        </div>
        
        <%= yield :layout %>

        <div id="footer">
            <ul>
                <li><a href="#">Navigation 1</a></li>
                <li><a href="#">Navigation 2</a></li>
                <li><a href="#">Navigation 3</a></li>
            </ul>

            <p>Footer stuff goes here. Copyright, disclaimers &ndash; stuff like that.</p>
        </div>
    </div>

    <% if ENV['RAILS_ENV'] == 'development' %>
   
      <div id="debug" style="margin: 20px 5px 5px 5px;">
        <p onclick="Element.toggle('debug_info')" style="color:#89A;cursor:pointer;">Show Runtime Context</p>
        <div id="debug_info" style="display:none;">
            <%= debug params %>
              <hr />
            <%= debug session %>
        </div>
      </div>
   
      <% @css_text = File.open("#{RAILS_ROOT}/public/stylesheets/public_pages.css","r"){|f| @css_text = f.read} %>
      <div id="debug" style="margin: 20px 5px 5px 5px;">
        <p onclick="Element.toggle('css_edit'); $('css_text').focus();" style="color:#89A;cursor:pointer;">Edit CSS</p>
        <div id="css_edit" style="display:none;">
          <%=form_tag  :controller => 'fast_ops', :action => 'edit_style_sheet', :css_name => 'public_pages.css'%>
            <%=submit_tag("Apply Changes")%> <br />
            <%=text_area_tag("css_text", @css_text, :style => "width:98%;height:2in;margin-bottom:0.5in;")%>
          </form>
        </div>
      </div>

  <% end %>

</body>

</html>

