
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}

   @edit_ctrl_cols = @edit_ctrl_cols || 80

   @text_ctrl_rows = @text_ctrl_rows || 8
   @text_ctrl_cols = @text_ctrl_cols || (@edit_ctrl_cols - 1)
%>

<!-- BEGIN-UID.user_vis_ctrls -->

<!-- END-UID.user_vis_ctrls -->

<%= error_messages_for 'standard_report' %>

<!--[form:standard_report]-->
<table class="aform_table">

<% @ft_view_section[:filename] = capture { %>
<% if @show_item[:filename] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="standard_report_filename">Filename&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'standard_report', 'filename', :size => [80,@edit_ctrl_cols].min, :maxlength => "80", :id => "focus" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:title] = capture { %>
<% if @show_item[:title] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="standard_report_title">Title&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'standard_report', 'title', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:category] = capture { %>
<% if @show_item[:category] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="standard_report_category">Category&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'standard_report', 'category', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:short_desc] = capture { %>
<% if @show_item[:short_desc] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="standard_report_short_desc">Short Desc&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'standard_report', 'short_desc', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:description] = capture { %>
<% if @show_item[:description] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="standard_report_description">Description</label></td>
<td class="value">&nbsp;<%= text_area 'standard_report', 'description', :rows => @text_ctrl_rows, :cols => @text_ctrl_cols %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:period] = capture { %>
<% if @show_item[:period] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="standard_report_period">Period</label></td>
<td class="value">&nbsp;<%= select 'standard_report', 'period', "-- select --,Daily,Weekly,Monthly".split(/, */) %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:day_type] = capture { %>
<% if @show_item[:day_type] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="standard_report_day_type">Day Type</label></td>
<td class="value">&nbsp;<%= select 'standard_report', 'day_type', "-- select --,Mon,Tue,Wed,Thu,Fri,Sat,Sun".split(/, */) %></td>
</tr>
<% end %>
<% } %>

<%     @ft_view_section_order = []
       @ft_view_section_order << :filename
       @ft_view_section_order << :title
       @ft_view_section_order << :category
       @ft_view_section_order << :short_desc
       @ft_view_section_order << :description
       @ft_view_section_order << :period
       @ft_view_section_order << :day_type
%>

<!-- BEGIN-UID.user_section_ordering -->

<%     @ft_view_section_order = []
       @ft_view_section_order << :filename
       @ft_view_section_order << :title
       @ft_view_section_order << :category
       @ft_view_section_order << :period
       @ft_view_section_order << :day_type
       @ft_view_section_order << :short_desc
       @ft_view_section_order << :description
%>

<!-- END-UID.user_section_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


<!-- BEGIN-UID.user_fields -->

<!-- END-UID.user_fields -->

</table>


<!--[eoform:standard_report]-->
