
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   view_params = { :form_name => 'standard_reports/form' }
   @ft_view_section = {}
%>
<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table width="100%" border="0" cellspacing="0" style="margin-top:-5px;margin-bottom:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Normal View', :controller => 'standard_reports', :action => 'show', :id => @standard_report %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'standard_reports', :action => 'list')%>"> <%="Table of Standard Report".pluralize%> </option>
    <option value="<%=url_for(:controller => 'standard_reports', :action => 'block_list')%>"> <%="List of Standard Report".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'standard_reports', :action => 'new')%>"> Add new Standard Report </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@standard_report)%>
</td>
</tr>
</table>
</div>

<% end %>

<!-- BEGIN-UID.user_mods -->

<!-- END-UID.user_mods -->

<fieldset>
<LEGEND>Properties</LEGEND>

<%= form_tag(:controller => 'standard_reports', :action => 'update', :id => @standard_report) %>
  <p class="submit_top">&nbsp;<%= submit_tag 'Save Changes' %> </p>
  <%= render :partial => view_params[:form_name] %>
  <p class="submit_bottom">&nbsp;<%= submit_tag 'Save Changes' %> </p>
</form> <!-- end form_tag -->

</fieldset>

<p class="spacer">&nbsp;</p>

<div class="edit_view edit_view_standard_report">              <!-- div1 -->

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

<% @ft_view_section = {} %>

<% @ft_view_section[:report_subscriptions] = capture { %>
<% if @show_item[:report_subscriptions] then %>

  <!-- Report Subscriptions -->

  <a name="report_subscriptions"></a>

  <div id="show_rel_report_subscriptions" class="show_rel show_rel_report_subscriptions">                                                <!-- div33 -->
    <div class="detail_quick_add" style="float:right;">
        <%= show_hide "Quick-add ReportSubscriptions by email", 'quick_add_report_subscriptions' %>
        <div id="quick_add_report_subscriptions" style="display:none; margin-bottom:4px; padding:8px;">
            enter one email per line
            <%=form_tag :controller => 'standard_reports', :action => 'quick_add_report_subscriptions', :id => @standard_report.id %>
                <%=text_area_tag 'names', {}, :style=>"width:2in; height:0.5in;"%> <br />
                <%=submit_tag 'Add ReportSubscriptions'%>
            </form>
        </div>
    </div>

    <div id="show_rel_report_subscriptions_label" class="rel_label"> Report Subscriptions &nbsp; <%= show_hide('show/hide','show_rel_report_subscriptions_value')%></div>            <!-- div34 -->

    <div id="show_rel_report_subscriptions_value" class="rel_value">                                           <!-- div35 -->


         <ul style="margin-left:20px;">

<% if @report_subscriptions != nil %>
<% for report_subscription in (@report_subscriptions.kind_of? Array) ? @report_subscriptions : [ @report_subscriptions ] %>
         <li>
        <%= link_to image_tag("blue_x.jpg",{:border=>"0", :title => 'Remove'}), {:controller => 'standard_reports', :action => 'remove_from_report_subscriptions', :id => @standard_report.id, :report_subscription_id => report_subscription.id} %>
        <% text = report_subscription.email.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to report_subscription.iname, url_show(report_subscription), :class => 'identity_link' %> 
        </li>
<% end %>
<% end %>
         </ul> 
        <p style="float:left; margin-left:10px;">&nbsp;</p>
<%= link_to 'Add Report Subscription', :controller => 'standard_reports', :action => 'add_to_report_subscriptions', :id => @standard_report.id, :obj_context => @standard_report.iname %> 

    </div>           <!-- end div35 -->
  </div>               <!-- end div33 -->
<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :report_subscriptions
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


</div>                           <!-- end div1 -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table width="100%" border="0" cellspacing="0" style="margin-bottom:-5px;margin-top:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Normal View', :controller => 'standard_reports', :action => 'show', :id => @standard_report %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'standard_reports', :action => 'list')%>"> <%="Table of Standard Report".pluralize%> </option>
    <option value="<%=url_for(:controller => 'standard_reports', :action => 'block_list')%>"> <%="List of Standard Report".pluralize%> </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'standard_reports', :action => 'new')%>"> Add new Standard Report </option>

    <option value="#">----------------</option>



    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@standard_report)%>
</td>
</tr>
</table>
</div>

<% end %>
