
<%
  @main_class_ext = 'rept_viewer'
  @ft_activity = nil

  do_host_reports    = StandardReport.host_feature_enabled?
  do_storage_reports = StandardReport.storage_feature_enabled?
  do_planner_reports = StandardReport.planner_feature_enabled?

  @standard_reports.sort!{|a,b| a.title.to_s <=> b.title.to_s}

  @standard_reports = @standard_reports.select{ |r|
    (r.is_a_host_report?    && do_host_reports) ||
    (r.is_a_storage_report? && do_storage_reports) ||
    (r.is_a_planner_report? && do_planner_reports)
  }

  @standard_reports = @standard_reports.select{|r| r.user_selected?}


  cats = @standard_reports.collect{|r| r.category.split("/")}
  cats << ["Performance Management","VMs"]
  cats = cats.compact.sort.uniq
%>

<table class="std_reports" cellspacing="4">
  <tr>
    <td class="rept_list">

      <% div_for_topic "Standard Reports" do %>
      <div style="font-family: arial; color:navy; margin:-22px 0 0 210px; font-size:x-small;">Click Heading to Expand/Contract</div>

          <div style="margin: 10px 4px 6px 4px; height:745px; overflow: auto;">

            <% if ! do_host_reports && ! do_storage_reports then %>
              <p>Please install a license that enables reports.</p>
            <% elsif cats.empty? %>
              <p>Please select some reports to enable from the admin tab.</p>
            <% else %>
              <h5 style="margin:4px 0 6px 0; color:#6688AA;">Historical Reports &nbsp; &nbsp; &nbsp;
                <span style="font-size:x-small; color:maroon;">(To configure, see Admin tab)</span></h5>
            <% end %>

            <% 
                in_level2 = false
                outer = ""
            %>

            <% for cat in cats do %>

              <% break_level = cat.first.to_s != outer %>

              
              <% if break_level && in_level2 then %>
              <% in_level2 = false %>
                </div>
              <% end %>


              <% if cat.size > 1 && break_level then %>
                <% in_level2 = true %>

                <% outer = cat.first.to_s %>

                <div style="text-align:left; border:solid 1px gray; margin:3px 3px 3px 0; width:auto; height:18px; cursor:pointer; padding:0 8pt;
                     background: url(../images/vslice_vmt_pod_banner.jpg); font-weight:bold;"
                     onclick="$('<%= cat.first.gsub(" ","") %>').toggle();">
                  <%= cat.first %>
                </div>

                <div id="<%= cat.first.gsub(" ","") %>" style="display:<%=cycle(*%W(block block none none none none none none none none none none))%>;">
              <% end %>


              <div style="text-align:left; border:solid 1px gray; margin:3px 3px 3px <%= in_level2 ? "20px" : "0" %>; width:auto; height:18px; cursor:pointer; padding:0 8pt;
                   background: url(../images/vslice_vmt_pod_banner.jpg); font-weight:bold;"
                   onclick="$('<%= cat.join("").gsub(" ","") %>').toggle();">
                <%= cat.last %>
              </div>

              <div id="<%= cat.join("").gsub(" ","") %>" style="display:<%=cycle(*%W(block block none none none none none none none none none none))%>;">

              <table style="margin:4px 20px;" border="0" cellspacing="0" width="95%">

                <% for @standard_report in @standard_reports %>
                  <% next unless @standard_report.category.split("/") == cat %>
                  <tr>
                    <td style="padding:0 4px 0 0;">
                      <% if @standard_report.filename["_grid"] %>
                        <%= image_tag "rept_grid.png" %>
                      <% elsif @standard_report.filename["_line"] %>
                        <%= image_tag "rept_chart_line.png" %>
                      <% elsif @standard_report.filename["_bar"] %>
                        <%= image_tag "rept_chart_bar.png" %>
                      <% elsif @standard_report.filename["_pie"] %>
                        <%= image_tag "rept_chart_pie.png" %>
                      <% else %>
                        <%= image_tag "report.png" %>
                      <% end %>
                    </td>

                    <td style="vertical-align:top; white-space: wrap;" title="<%= @standard_report.description.to_s %>">
                      <span style="font-size:9pt; font-family: Arial;">
                            <b><i><%= @standard_report.title.to_s %></i></b>
                        </span>
                      <br />
                      <span style="font-size:8pt; font-family: Arial;">
                        Creation Date:
                        </span>
                      <% dates_available = @standard_report.dates_available.reverse %>
                      <%= content_tag 'select', options_for_select(["MostRecent"]+dates_available,"MostRecent"),
                          :id => 'selected_date'+@standard_report.id.to_s, :style => "font-size:8pt; font-family: Arial;" %>
                    </td>

                    <td style="vertical-align:top; padding:0 4px 0 4px; white-space: nowrap; width:65px;">
                      <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                            onclick="
                              var date_str = $('selected_date<%=@standard_report.id.to_s%>')[$('selected_date<%=@standard_report.id.to_s%>').selectedIndex].value;
                              $('pdfFrame').src='/persistence/standard_reports/<%=@standard_report.id%>.pdf?date='+date_str;
                              $('pdfFrame').style.height='750px';
                              ">PDF</span> | 
					  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                            onclick="
                              var date_str = $('selected_date<%=@standard_report.id.to_s%>')[$('selected_date<%=@standard_report.id.to_s%>').selectedIndex].value;
                              $('pdfFrame').src='/persistence/standard_reports/<%=@standard_report.id%>.xls?date='+date_str;
                              $('pdfFrame').style.height='750px';
                              ">Excel</span><br/>
                      <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                            onclick="
                              var date_str = $('selected_date<%=@standard_report.id.to_s%>')[$('selected_date<%=@standard_report.id.to_s%>').selectedIndex].value;
                              $('pdfFrame').src='/persistence/standard_reports/<%=@standard_report.id%>.pdf?date='+date_str+'&send_email=true';
                              $('pdfFrame').style.height='750px';
                              ">
                        Send</span> | 
                        <%= link_to_remote("Subscribe", {
                          :url => url_for(:controller => "report_subscriptions", :action => "edit_subscriptions_form",
                                          :class_name =>@standard_report.class.name, :id => @standard_report.id,
                                          :return_to => url_for(:controller => 'standard_reports', :action => 'list')),
                          :update => 'edit_subscriptions',
                          :complete => "$('edit_subscriptions').show();"
                          }, :style => "cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        ) %>
                    </td>

                  </tr>
                  <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>
                <% end %>



<% if cat == ["Capacity Management","Hosts"] %>

              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_line.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report showing capacity usage trends and projections for the selected physical machine group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Host Group Capacity Usage Projection</i></b>
                    </span>
                  <br />

                  <% @pm_cap_groups = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:pm_cap_groups, :group_name) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_cap_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=capacity_usage_projection';">
                    PDF</span> |
				  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_cap_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=VirtualMachine&group_name='+group_name+'&rept_type=capacity_usage_projection';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('pm_cap_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&send_email=true&rept_type=capacity_usage_projection';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=pm_group_capacity_usage_projection';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

			  <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>
              
			 <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected cluster group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Host Top Bottom Capacity per Cluster</i></b>
                    </span>
                  <% @pm_top_bottom_groups = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:pm_top_bottom_groups, :group_name) %> <br/>
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>
                </td>

              <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_top_bottom_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=pm_top_bottom_capacity_grid_per_cluster';">
                    PDF</span> |
				  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_top_bottom_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=pm_top_bottom_capacity_grid_per_cluster';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('pm_top_bottom_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&send_email=true&rept_type=pm_top_bottom_capacity_grid_per_cluster';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=pm_group_pm_top_bottom_capacity_grid_per_cluster';">
                    Edit&nbsp;Subscriptions</span>
              </td>
              </tr>

			  <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>
             
              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected cluster group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Individual Monthly Cluster Summary</i></b>
                    </span>
                  <% @pm_cluster_groups = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:pm_cluster_groups, :group_name) %> <br/>
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>
                </td>

              <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_cluster_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=monthly_individual_cluster_summary';">
                    PDF</span> |
				  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_cluster_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=monthly_individual_cluster_summary';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('pm_cluster_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&send_email=true&rept_type=monthly_individual_cluster_summary';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=pm_group_monthly_individual_cluster_summary';">
                    Edit&nbsp;Subscriptions</span>
              </td>
              </tr>
              
              
              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected cluster group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Host/VM Group - Resource Utilization Heatmap</i></b>
                    </span>
                  <% @pm_cluster_heatmap_groups = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:pm_cluster_heatmap_groups, :group_name) %> <br/>
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>
                </td>

              <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_cluster_heatmap_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=daily_pm_vm_utilization_heatmap_grid';">
                    PDF</span> |
				  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_cluster_heatmap_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=daily_pm_vm_utilization_heatmap_grid';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('pm_cluster_heatmap_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&send_email=true&rept_type=daily_pm_vm_utilization_heatmap_grid';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filter=GROUP-PMsByCluster&filename=pm_group_daily_pm_vm_utilization_heatmap_grid';">
                    Edit&nbsp;Subscriptions</span>
              </td>
              </tr>
              

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>

<% end %>

<% if cat == ["Capacity Management","VMs"] then %>

<tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing Top/Bottom 15 VM capacity and usage">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Top Bottom 15 VMs Capacity</i></b>
                    </span>
                  <br />

                  <% @vm_groups_30_days_vm_top_bottom_capacity_grid = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:vm_groups_30_days_vm_top_bottom_capacity_grid, :group_name) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="color:black; font-family:Arial; font-size:8pt;">
                  Generate:</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_30_days_vm_top_bottom_capacity_grid_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&rept_type=30_days_vm_top_bottom_capacity_grid';">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_30_days_vm_top_bottom_capacity_grid_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=VirtualMachine&group_name='+group_name+'&rept_type=30_days_vm_top_bottom_capacity_grid';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('vm_groups_30_days_vm_top_bottom_capacity_grid_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&send_email=true&rept_type=30_days_vm_top_bottom_capacity_grid';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=vm_group_30_days_vm_top_bottom_capacity_grid';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>
			<tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>
              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected virtual machine group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Individual VM Monthly Summary (Group)</i></b>
                    </span>
                  <br />

                  <% @vm_groups_individual_vm_summary = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:vm_groups_individual_vm_summary, :group_name) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="color:black; font-family:Arial; font-size:8pt;">
                  Generate:</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_individual_vm_summary_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&rept_type=individual_monthly_summary';">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_individual_vm_summary_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=VirtualMachine&group_name='+group_name+'&rept_type=individual_monthly_summary';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('vm_groups_individual_vm_summary_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&send_email=true&rept_type=individual_monthly_summary';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=vm_group_individual_monthly_summary';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>
                            <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected virtual machine group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>VM Group Over/Under Provisioning<br/> by Number of Days Ago</i></b>
                    </span>
                  <br />

                  <% @vm_groups_over_under = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:vm_groups_over_under, :group_name) %> <br/>
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>
				  <%=select_tag :num_days_ago_list, options_for_select([["30 Days", 30], ["60 Days", 60], ["90 Days", 90]])%> <br />
                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:85px;">
                  <span style="color:black; font-family:Arial; font-size:8pt;">
                  Generate:</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_over_under_group_name').value;
                          var num_days_ago = $('num_days_ago_list').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&rept_type=daily_over_under_prov_grid_given_days&num_days_ago='+num_days_ago;">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_over_under_group_name').value;
                          var num_days_ago = $('num_days_ago_list').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=VirtualMachine&group_name='+group_name+'&rept_type=daily_over_under_prov_grid_given_days&num_days_ago='+num_days_ago;">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('vm_groups_over_under_group_name').value;
                          var num_days_ago = $('num_days_ago_list').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&send_email=true&rept_type=daily_over_under_prov_grid_given_days&num_days_ago='+num_days_ago;">
                   Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=vm_group_daily_over_under_prov_grid_given_days';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>

<% end %>


<% if cat == ["Performance Management","Hosts"] then %>

  <% if do_host_reports %>

              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_line.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected physical machine">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Host Summary</i></b>
                    </span>
                  <br />

                  <% @pms = Struct.new(:pmname).new %>
                  <%= text_field_with_auto_complete(:pms, :pmname) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>
				  <br /> History: <input type="number" id ="num_days_ago_list_host_summary" name="num_days_ago_list_host_summary" max="30" min="1" /> <br />

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var machine_name = $('pms_pmname').value;
                          var num_days_ago = $('num_days_ago_list_host_summary').value;
						  $('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.pdf?class_name=PhysicalMachine&machine_name='+machine_name+'&num_days_ago='+num_days_ago;">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var machine_name = $('pms_pmname').value;
                          var num_days_ago = $('num_days_ago_list_host_summary').value;
						  $('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.xls?class_name=PhysicalMachine&machine_name='+machine_name+'&num_days_ago='+num_days_ago;">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var machine_name = $('pms_pmname').value;
                          var num_days_ago = $('num_days_ago_list_host_summary').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.pdf?class_name=PhysicalMachine&machine_name='+machine_name+'&send_email=true&num_days_ago='+num_days_ago;">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=pm_profile';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>


              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected physical machine group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Host Group Summary</i></b>
                    </span>
                  <br />

                  <% @pm_groups = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:pm_groups, :group_name) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=profile';">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=profile';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('pm_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&send_email=true&rept_type=profile';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=pm_group_profile';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>

  <% end %>

<% end %>


<% if cat == ["Performance Management","VMs"] then %>

  <% if do_host_reports %>

              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_line.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected virtual machine">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Virtual Machine Summary</i></b>
                    </span>
                  <br />

                  <% @vms = Struct.new(:vmname).new %>
                  <%= text_field_with_auto_complete(:vms, :vmname) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>
                  <br /> History: <input type="number" id ="num_days_ago_list_vm_summary" name="num_days_ago_list_vm_summary" max="30" min="1" value="30" /> 
                  <br /> Hide CPU and Storage charts: <input type="checkbox" id ="cbShow_charts" name="cbShow_charts" /> <br />
                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var machine_name = $('vms_vmname').value;
                          var num_days_ago = $('num_days_ago_list_vm_summary').value;
                          if ($('cbShow_charts').checked==false)
                          {
                          	 var show_charts='true';
                          }
                          else{
                          	 var show_charts='false';
                          }
						$('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.pdf?class_name=VirtualMachine&machine_name='+machine_name+'&num_days_ago='+num_days_ago+'&show_charts='+show_charts;">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var machine_name = $('vms_vmname').value;
                          var num_days_ago = $('num_days_ago_list_vm_summary').value;
						  if ($('cbShow_charts').checked==false)
                          {
                          	 var show_charts='true';
                          }
                          else{
                          	 var show_charts='false';
                          }                          
                          $('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.xls?class_name=VirtualMachine&machine_name='+machine_name+'&num_days_ago='+num_days_ago+'&show_charts='+show_charts;">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var machine_name = $('vms_vmname').value;
                          var num_days_ago = $('num_days_ago_list_vm_summary').value;
						  if ($('cbShow_charts').checked==false)
                          {
                          	 var show_charts='true';
                          }
                          else{
                          	 var show_charts='false';
                          }                          
                          $('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.pdf?class_name=VirtualMachine&machine_name='+machine_name+'&num_days_ago='+num_days_ago+'&show_charts='+show_charts+'&send_email=true';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=vm_profile';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>


              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected virtual machine group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>VM Group Summary</i></b>
                    </span>
                  <br />

                  <% @vm_groups = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:vm_groups, :group_name) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&rept_type=profile';">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=VirtualMachine&group_name='+group_name+'&rept_type=profile';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('vm_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&send_email=true&rept_type=profile';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=vm_group_profile';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>
              
              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Summary and trends of usage of Physical Resources for the selected virtual machine group, in a monthly scope">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>VM Group Summary (Physical Resources)</i></b>
                    </span>
                  <br />

                  <% @vm_groups_phy_res = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:vm_groups_phy_res, :group_name) %></br>
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_phy_res_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&rept_type=profile_physical_resources';">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('vm_groups_phy_res_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=VirtualMachine&group_name='+group_name+'&rept_type=profile_physical_resources';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('vm_groups_phy_res_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=VirtualMachine&group_name='+group_name+'&send_email=true&rept_type=profile_physical_resources';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=vm_group_profile_physical_resources';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>

  <% end %>

<% end %>

<% if cat == ["Performance Management","Storage"] then %>

  <% if do_storage_reports %>

              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_line.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected data store">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Data Store Summary</i></b>
                    </span>
                  <br />

                  <% @sds = Struct.new(:sdname).new %>
                  <%= text_field_with_auto_complete(:sds, :sdname) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var machine_name = $('sds_sdname').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.pdf?class_name=Storage&machine_name='+machine_name;">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var machine_name = $('sds_sdname').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.xls?class_name=Storage&machine_name='+machine_name;">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var machine_name = $('sds_sdname').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_on_demand/1.pdf?class_name=Storage&machine_name='+machine_name+'&send_email=true';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=sd_profile';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>



              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_line.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing various data and trends for the selected datastore group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Datastore Group Summary</i></b>
                    </span>
                  <br />

                  <% @ds_groups = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:ds_groups, :group_name) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('ds_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=Storage&group_name='+group_name+'&rept_type=profile';">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('ds_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=Storage&group_name='+group_name+'&rept_type=profile';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('ds_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=Storage&group_name='+group_name+'&send_email=true&rept_type=profile';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=sd_group_profile';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>

  <% end %>

<% end %>



<% if cat.first == "Workload Balancing" %>

              <tr>
                <td style="padding:0 4px 0 0;">
                    <%= image_tag "rept_chart_bar.png" %>
                </td>

                <td style="vertical-align:top; white-space: wrap;"
                        title="Report summarizing hosting information for the selected physical machine group">
                  <span style="font-size:9pt; font-family: Arial;">
                        <b><i>Hosting Summary by Host Group</i></b>
                    </span>
                  <br />

                  <% @pm_hosting_groups = Struct.new(:group_name).new %>
                  <%= text_field_with_auto_complete(:pm_hosting_groups, :group_name) %> <br />
                  <span style="font-size:x-small;">Enter a partial name or pattern(xx.*)</span>

                </td>

                <td style="vertical-align:top; padding:0 4px 0 4px; white-space: wrap; width:65px;">
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_hosting_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=hosting';">
                    PDF</span> |
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('viewer_content').innerHTML = '<iframe id=\'pdfFrame\' src=\'/persistence/images/rotating_work_indicator.gif\' width=\'99%\' height=\'750px\' style=\'border:none;\'></iframe>';
                          var group_name = $('pm_hosting_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.xls?class_name=PhysicalMachine&group_name='+group_name+'&rept_type=hosting';">
                    Excel</span><br/>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          var group_name = $('pm_hosting_groups_group_name').value;
                          $('pdfFrame').src='/persistence/standard_reports/show_se_group_on_demand/1.pdf?class_name=PhysicalMachine&group_name='+group_name+'&send_email=true&rept_type=hosting';">
                    Send</span>
                  <span style="cursor:pointer; color:blue; text-decoration: underline; font-family:Arial; font-size:8pt;"
                        onclick="
                          $('pdfFrame').src='/persistence/report_subscriptions/edit_on_demand?filename=pm_group_hosting';">
                    Edit&nbsp;Subscriptions</span>
                </td>

              </tr>

              <tr style="height:4px;"> <td colspan="3" style="font-size:5pt;">&nbsp;</td> </tr>


<% end %>

              </table>

              </div>

            <% end %>


          </div>

      <% end %>

    </td>


    <td class="viewing_area">

      <div id="edit_subscriptions" style="display:none;"></div>

      <% div_for_topic "Viewer" do %>
        <% unless StandardReport.reports_available? %>
          <p style='font-weight:bold'>There are currently no reports available.</p><p>They are run nightly. Please check back tomorrow.</p>
        <% end %>
        <iframe id="pdfFrame" src="/persistence/images/report.png" style="width:99%; height:750px; border:none;"></iframe>
      <% end %>

    </td>

    
  </tr>
</table>
