
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}

   @edit_ctrl_cols = @edit_ctrl_cols || 80

   @text_ctrl_rows = @text_ctrl_rows || 8
   @text_ctrl_cols = @text_ctrl_cols || (@edit_ctrl_cols - 1)
%>

<!-- BEGIN-UID.user_vis_ctrls -->

<!-- END-UID.user_vis_ctrls -->

<%= error_messages_for 'audit_log_entry' %>

<!--[form:audit_log_entry]-->
<table class="aform_table">

<% @ft_view_section[:snapshot_time] = capture { %>
<% if @show_item[:snapshot_time] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_snapshot_time">Snapshot Time&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'snapshot_time', :size => "14", :id => "focus" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:action_name] = capture { %>
<% if @show_item[:action_name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_action_name">Action Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'action_name', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:category] = capture { %>
<% if @show_item[:category] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_category">Category&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'category', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:user_name] = capture { %>
<% if @show_item[:user_name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_user_name">User Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'user_name', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:target_object_class] = capture { %>
<% if @show_item[:target_object_class] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_target_object_class">Target Object Class&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'target_object_class', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:target_object_name] = capture { %>
<% if @show_item[:target_object_name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_target_object_name">Target Object Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'target_object_name', :size => [250,@edit_ctrl_cols].min, :maxlength => "250" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:target_object_uuid] = capture { %>
<% if @show_item[:target_object_uuid] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_target_object_uuid">Target Object Uuid&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'target_object_uuid', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:source_class] = capture { %>
<% if @show_item[:source_class] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_source_class">Source Class&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'source_class', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:source_name] = capture { %>
<% if @show_item[:source_name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_source_name">Source Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'source_name', :size => [250,@edit_ctrl_cols].min, :maxlength => "250" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:source_uuid] = capture { %>
<% if @show_item[:source_uuid] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_source_uuid">Source Uuid&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'source_uuid', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:destination_class] = capture { %>
<% if @show_item[:destination_class] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_destination_class">Destination Class&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'destination_class', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:destination_name] = capture { %>
<% if @show_item[:destination_name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_destination_name">Destination Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'destination_name', :size => [250,@edit_ctrl_cols].min, :maxlength => "250" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:destination_uuid] = capture { %>
<% if @show_item[:destination_uuid] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_destination_uuid">Destination Uuid&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'audit_log_entry', 'destination_uuid', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:details] = capture { %>
<% if @show_item[:details] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="audit_log_entry_details">Details</label></td>
<td class="value">&nbsp;<%= text_area 'audit_log_entry', 'details', :rows => @text_ctrl_rows, :cols => @text_ctrl_cols %></td>
</tr>
<% end %>
<% } %>

<%     @ft_view_section_order = []
       @ft_view_section_order << :snapshot_time
       @ft_view_section_order << :action_name
       @ft_view_section_order << :category
       @ft_view_section_order << :user_name
       @ft_view_section_order << :target_object_class
       @ft_view_section_order << :target_object_name
       @ft_view_section_order << :target_object_uuid
       @ft_view_section_order << :source_class
       @ft_view_section_order << :source_name
       @ft_view_section_order << :source_uuid
       @ft_view_section_order << :destination_class
       @ft_view_section_order << :destination_name
       @ft_view_section_order << :destination_uuid
       @ft_view_section_order << :details
%>

<!-- BEGIN-UID.user_section_ordering -->

<!-- END-UID.user_section_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


<!-- BEGIN-UID.user_fields -->

<!-- END-UID.user_fields -->

</table>


<!--[eoform:audit_log_entry]-->
