
<% view_params = { :form_name => 'entity_assns/form' } %>

<!-- BEGIN-UID.user_mods -->

<!-- END-UID.user_mods -->

<p class="spacer">&nbsp;</p>

<fieldset>
<LEGEND>Properties</LEGEND>

<%= form_tag( :controller => 'entity_assns', :action => 'create' ) %>

  <p class="submit_top">&nbsp;<%= submit_tag "Save" %>&nbsp;
  <% unless params[:redirect] %>
    <%= submit_tag "Save & Add Another", :class => "add_another"%>
  <% end %>
  </p>

  <%= render :partial => view_params[:form_name] %>

  <p class="submit_bottom">&nbsp;<%= submit_tag "Save" %>&nbsp;
  <% unless params[:redirect] %>
    <%= submit_tag "Save & Add Another", :class => "add_another"%>
  <% end %>
  </p>

</form> <!-- end form_tag -->

</fieldset>

<p class="spacer">&nbsp;</p>
