<% unless @embedded %>

<div class="buttons_etc buttons_etc_top">
<table width="100%" border="0" cellspacing="0" style="margin-top:-5px;margin-bottom:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'entity_assns', :action => 'edit', :id => @entity_assn %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'show', :id => @entity_assn.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'show_as_doc', :id => @entity_assn.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'list')%>"> <%="Table of Entity Assn".pluralize%> </option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'block_list')%>"> <%="List of Entity Assn".pluralize%> </option>

    <option value="#">----------------</option>

<!-- BEGIN-UID.user_actions -->

<!-- END-UID.user_actions -->

    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@entity_assn)%>
</td>
</tr>
</table>
</div>

<% end %>

<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}
%>


<div class="show_as_doc_view show_as_doc_view_entity_assn">    <!-- show_as_doc_view -->

    <div class="show_doc_props show_doc_props_entity_assn">   <!-- show_doc_props -->

      <p class="doc_prev_next_links">
      <%=link_to "previous", url_show_as_doc(@entity_assn.prev_item), :title => "Previous Entity Assn", :style => "font-size:8pt;"%> 
      | <%=link_to "next", url_show_as_doc(@entity_assn.next_item), :title => "Next Entity Assn", :style => "font-size:8pt;"%>
      </p>

<!-- BEGIN-UID.user_properties -->

<!-- END-UID.user_properties -->



<% @ft_view_section[:name] = capture { %>
<% if @show_item[:name] then %>

  <!-- Name -->

  <div class="doc_attr_group attr_group_entity_assn_name title">     <!-- div10-b -->
    <div class="doc_attr_label"> Name </div>                   <!-- div11-b -->
    <div class="doc_attr_value single_line"> <%= auto_link(@entity_assn.name.to_s) %>&nbsp;</div>   <!-- div12h -->
  </div>   <!-- div10 end -->
  <p class="spacer">&nbsp;</p>

<% end %>
<% } %>

<% @ft_view_section_order = []
   @ft_view_section_order << :name
%>

<!-- BEGIN-UID.user_ordering -->

<!-- END-UID.user_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

    </div>   <!-- show_doc_props -->

    <p class="spacer">&nbsp;</p>


<% @ft_view_section = {} %>

<% @ft_view_section_order = []
%>

<!-- BEGIN-UID.user_text_ordering -->

<!-- END-UID.user_text_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>

<div class="show_as_doc_related">

<!-- BEGIN-UID.user_related_items -->
<h3 class="rel_items_heading">Related Items</h3>
<!-- END-UID.user_related_items -->

<div class="show_hide_subtable_text">
<% listtext_op = session['list_text_toggles'] ? "show text in tables" : "hide text in tables" %>
<%= link_to listtext_op, {:controller => 'fast_ops', :action => 'toggle_list_text_toggle'}, :style => 'font-size:8pt;' %> |
<% listimage_op = session['list_image_toggles'] ? "show images in tables" : "hide images in tables" %>
<%= link_to listimage_op, {:controller => 'fast_ops', :action => 'toggle_list_image_toggle'}, :style => 'font-size:8pt;' %>
</div>


<% @ft_view_section = {} %>


<% @ft_view_section[:members] = capture { %>
<% if @show_item[:members] then %>

  <!-- Members -->

  <a name="members"></a>

  <div id="show_rel_members" class="show_rel show_rel_members">                                                 <!-- div28 -->
    <div id="show_rel_members_label" class="rel_label"> Members &nbsp; <%= show_hide('show/hide','show_rel_members_value')%> </div>        <!-- div29 -->

    <div id="show_rel_members_value" class="rel_value">                                                                           <!-- div30 -->
        <ul style="margin-left:20px;">
        <% for entity in (@members || []) %>
        <li>
        <% text = entity.name.to_s %>
        <% text = (auto_link(text)) %>
        <% text = "&nbsp;" if text.length == 0 %>
        <%= link_to entity.iname, url_show(entity), :class => "identity_link" %> 
        </li>
        <% end %>
        </ul> 

    </div>          <!-- div31 -->
  </div>            <!-- div32 -->
<% end %>
<% } %>


<%     @ft_view_section_order = []
       @ft_view_section_order << :members
%>
<!-- BEGIN-UID.user_rel_ordering -->

<!-- END-UID.user_rel_ordering -->

<% for s in @ft_view_section_order do %>
   <%= @ft_view_section[s].to_s %>
<% end %>

</div> <!-- show_as_doc_related -->


</div>  <!-- show_as_doc_view -->

<!-- BEGIN-UID.userdivs -->

<!-- END-UID.userdivs -->

<% unless @embedded %>

<div class="buttons_etc buttons_etc_bottom">
<table width="100%" border="0" cellspacing="0" style="margin-bottom:-5px;margin-top:30px;">
<tr>
<td width="60%" valign="top">
<%= js_button_to 'Modify', :controller => 'entity_assns', :action => 'edit', :id => @entity_assn %> 
<select onchange="javascript: location = this[this.selectedIndex].value;">
    <option value="#">Select an action...</option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'show', :id => @entity_assn.id)%>"> Normal Format </option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'show_as_doc', :id => @entity_assn.id)%>"> Document Format </option>
    <option value="#">----------------</option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'list')%>"> <%="Table of Entity Assn".pluralize%> </option>
    <option value="<%=url_for(:controller => 'entity_assns', :action => 'block_list')%>"> <%="List of Entity Assn".pluralize%> </option>

    <option value="#">----------------</option>



    </select>
</td>
<td class="context" width="40%">
   <%=context_links(@entity_assn)%>
</td>
</tr>
</table>
</div>

<% end %>
