
<%
   # default vis control to show all
   unless @show_item
     @show_item = {}
     @show_item.default = true
   end

   @ft_view_section = {}

   @edit_ctrl_cols = @edit_ctrl_cols || 80

   @text_ctrl_rows = @text_ctrl_rows || 8
   @text_ctrl_cols = @text_ctrl_cols || (@edit_ctrl_cols - 1)
%>

<!-- BEGIN-UID.user_vis_ctrls -->

<!-- END-UID.user_vis_ctrls -->

<%= error_messages_for 'notification' %>

<!--[form:notification]-->
<table class="aform_table">

<% @ft_view_section[:clear_time] = capture { %>
<% if @show_item[:clear_time] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="notification_clear_time">Clear Time&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'notification', 'clear_time', :size => "14", :id => "focus" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:last_notify_time] = capture { %>
<% if @show_item[:last_notify_time] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="notification_last_notify_time">Last Notify Time&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'notification', 'last_notify_time', :size => "14" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:severity] = capture { %>
<% if @show_item[:severity] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="notification_severity">Severity&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'notification', 'severity', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:category] = capture { %>
<% if @show_item[:category] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="notification_category">Category&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'notification', 'category', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:name] = capture { %>
<% if @show_item[:name] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="notification_name">Name&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'notification', 'name', :size => [250,@edit_ctrl_cols].min, :maxlength => "250" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:uuid] = capture { %>
<% if @show_item[:uuid] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="notification_uuid">Uuid&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'notification', 'uuid', :size => [80,@edit_ctrl_cols].min, :maxlength => "80" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:importance] = capture { %>
<% if @show_item[:importance] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="notification_importance">Importance&nbsp;</label></td>
<td class="value">&nbsp;<%= text_field 'notification', 'importance', :size => "14" %></td>
</tr>
<% end %>
<% } %>

<% @ft_view_section[:description] = capture { %>
<% if @show_item[:description] then %>
<tr class="aform_row">
<td class="label">&nbsp;<label for="notification_description">Description</label></td>
<td class="value">&nbsp;<%= text_area 'notification', 'description', :rows => @text_ctrl_rows, :cols => @text_ctrl_cols %></td>
</tr>
<% end %>
<% } %>

<%     @ft_view_section_order = []
       @ft_view_section_order << :clear_time
       @ft_view_section_order << :last_notify_time
       @ft_view_section_order << :severity
       @ft_view_section_order << :category
       @ft_view_section_order << :name
       @ft_view_section_order << :uuid
       @ft_view_section_order << :importance
       @ft_view_section_order << :description
%>

<!-- BEGIN-UID.user_section_ordering -->

<!-- END-UID.user_section_ordering -->

<% for s in @ft_view_section_order %>
   <%= @ft_view_section[s].to_s %>
<% end %>


<!-- BEGIN-UID.user_fields -->

<!-- END-UID.user_fields -->

</table>


<!--[eoform:notification]-->
